@{
    ViewBag.Title = "EquidadGenero";
}

<div class="container" style="text-align:justify;">
    <h3 align="center">Sistema de Gestión de Calidad</h3>
    <h2 style="color: #800000" align="center">Equidad de Género</h2>
    <br /><br />
        <div class="bthumb2">
             <a href="http://www.tecnm.mx/sgeg"><img align="right" src="@Url.Content("~/img/SGC/SGEG.jpg")" width="30%" border="2"></a>            
        </div>
            <h4>Política de Calidad</h4><br />
        <div align="left" style="width: 500px">
            <p style="text-align: justify">
             EL SNEST establece el compromiso de promover: la igualdad de oportunidades en el acceso y promoción al empleo la prevención del hostigamiento sexual 
             y la no discriminación entre hombres y mujeres; a través del desarrollo de acciones afirmativas y/o a favor del personal, con el propósito de mantener 
             un ambiente de trabajo armonioso y favorecer la equidad de género.
            </p>
        </div>    
        <br /><br />     
</div>
