@{
    ViewBag.Title = "Alumnos";
}

<div class="container">
    <div class="row lp">
        <div class="col-md-12">
            <div class="center">
                <h2>
                    Alumnos</h2>
                <p class="big grey">
                    Bienvenido al Instituto Tecnol&oacute;gico de Chihuahua II.</p>
                <!-- Image -->
                <div class="lp-image">
                    <a href="#">
                        <img src="img/photos/Alumnos.jpg" alt="" class="img-responsive" />
                    </a>
                </div>
                <!-- Button -->
                <div class="button">
                    <a href="#"><i class="icon-mail-reply"></i> Recibe notificaciones</a> &nbsp; <a href="#"><i class="icon-twitter-sign"></i> Siguenos en Twitter</a>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h4>
                        ¿Porqu&eacute; el ITCH II?</h4>
                    <p>
                        Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit
                        sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante.
                        Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.
                    </p>
                    <hr />
                    <h4>
                        Oferta educativa</h4>
                    <p>
                        Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit
                        sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante.
                        Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                    <hr />
                </div>
                <div class="col-md-6 col-sm-6">
                    <h4>
                        Carreras</h4>
                    <p>
                        Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit
                        sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante.
                        Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.
                    </p>
                    <hr />
                    <h4>
                        Acreditaciones</h4>
                    <p>
                        Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit
                        sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Aliquam ut feugiat ante.
                        Curabitur lacinia nulla vel tellus elementum non mollis justo aliquam.</p>
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <!-- Noticias para alumnos/ -->
    @Html.Partial("_AlumnosNoticias")
    <!-- /Noticias para alumnos -->
</div>
