@{
    ViewBag.Title = "Alumnos";
}

<div class="container">
    <div class="row lp">
        <div class="col-md-12">
            <div class="center">
                <h2>
                    Alumnos</h2>
                <p class="big grey">
                    Bienvenido al Instituto Tecnol&oacute;gico de Chihuahua II.</p>
                <!-- Image -->
                <div class="lp-image">
                    <a href="#">
                        <img src="@Url.Content("~/img/photos/Alumnos.jpg")" alt="" class="img-responsive" />
                    </a>
                </div>
                <!-- Button -->
                <div class="button">
                    <a href="#" onclick="window.open('http://eepurl.com/4z_TT', 'nuevo', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=650, height=750')"><i class="icon-mail-reply"></i> Recibe avisos en tu correo</a> &nbsp; 
                    <a href="https://twitter.com/_itchihuahuaii"><i class="icon-twitter-sign"></i> Siguenos en Twitter</a>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h4>
                        Departamentos</h4>
                    <p>
                        En el menú ubicado en la parte superior de esta página, selecciona DEPARTAMENTOS para que tengas una idea de los servicios que te ofrece cada 
                        uno de nuestros departamentos. De esta forma estarás mejor orientado cuando desees: Realizar un trámite, realizar alguna actividad, solicitar 
                        algún tipo de asesoría, etc.
                    </p>
                    <hr />
                    <h4>
                        Mantente informado</h4>
                    <p>
                        Si no tienes información de lo que ocurre o sucederá en la Institución en la que estudias, te perderás de muchas cosas, pero sobretodo, 
                        aquello que pueda afectarte ocurrirá sin que te hayas enterado a tiempo.</p>
                        <p>Mantente informado haciendo clic en el botón de arriba (Recibe avisos en tu correo) y siguéndonos en twitter y facebook.</p>
                    <hr />
                </div>
                <div class="col-md-6 col-sm-6">
                     <h4>
                        Carreras</h4>
                   <p>
                        En el menú ubicado en la parte superior de esta página, selecciona CARRERAS para que tengas una idea de lo que te ofrece cada 
                        una de nuestras carreras.
                    </p><br />
                    <hr />
                    <h4>
                        Acreditaciones</h4>
                    <p>
                        Todas nuestras carreras están acreditadas ante CACEI.
                        Esto significa que cumplen con parámetros de calidad y criterios, lo que no sólo implica que tu educación será válida 
                        para las empresas que deseen contratarte, sino que tienes garantía de que tu carrera no será declarada invalidada oficialmente </p>
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <!-- Noticias para alumnos/ -->
    @Html.Partial("_AlumnosNoticias")
    <!-- /Noticias para alumnos -->
</div>