@{
    ViewBag.Title = "Arquitectura";
}
<div class="container" style="text-align:justify;">
    <h2>
        Arquitectura</h2>
    <div class="bthumb2">
        <img alt="" align="right" src="@Url.Content("~/img/carreras/Image3.jpg")" width="30%">
    </div>
    Con base en el desempeño esperado para un Arquitecto, a continuación se presentan
    los principales rasgos que definen su perfil, de acuerdo con el tiempo de actividades
    que desarrollará y las actitudes que se requiere para lograr sus propósitos. Si
    eres candidato a ingresar, te informamos que nuestro plan es SEMESTRAL y que la
    duración normal de las carreras es de ocho a doce semestres (incluyendo las residencias
    profesionales), dependiendo de la carga académica que tomes en cada semestre.
    <br />
    <h3>
        Perfil</h3>
    <div class="bthumb2">
        <img alt="" align="left" src="@Url.Content("~/img/carreras/Image4.jpg")" width="30%">
    </div>
    Deberá ser capaz de resolver con una visión crítica e innovadora los requerimientos
    del hábitat humano a través de:
    <ul>
        <li></li>
        Identificar, analizar, interpretar, sintetizar y evaluar las necesidades del ser
        humano para satisfacerlas, creando espacios que propicien su realización integral,
        tanto individual como social.</li>
        <li>Diseñar y construir con alto grado de belleza, funcionalidad, seguridad y creatividad.
        </li>
        <li>Preservar el medio natural y respetar el valor histórico del contexto físico - social
            al diseñar y construir la obra arquitectónica. </li>
        <li>Programar obras y analizar sus costos. </li>
        <li>Controlar y supervisar la realización de las obras. Seleccionar y aplicar equipos
            y materiales necesarios para la ejecución de las obras. </li>
        <li>Tener aptitudes para coordinar a personas y grupos ínter y multidisciplinarios,
            así como de especialistas, en torno al proceso de la producción de obras arquitectónicas.
            Estas habilidades deberán acompañarse con actitudes tales como: Sentido de servicio
            a la comunidad; actuación ética, honesta y responsable, además de conciencia del
            medio natural y de las raíces culturales.</li>
    </ul>
    </li>
    <h3>
        Campo de acción</h3>
    El arquitecto es un profesional con amplias perspectivas laborales. Puede desarrollarse
    en dos grandes sectores: En la Administración Pública, en las empresas paraestatales
    o descentralizadas y en el Sector Privado, en trabajo con inversionistas, productores
    urbanos y turísticos y en pequeñas industrias y comercios. </li>
    <h3>
        Retículas</h3>
    <a href="http://www.itchihuahuaii.edu.mx/Carreras/ARQ/arq2004.pdf">Plan 2004</a>
    Plan 2010 (De momento no está disponible)
</div>
