@{
    ViewBag.Title = "Ingeniería en Gestión Empresarial";
}
<div class="container" style="text-align:justify;">
    <h2>
        Ingeniería en Gestión Empresarial</h2>
    <div class="bthumb2">
        <img alt="" align="right" src="@Url.Content("~/img/carreras/Image8.jpg")" width="30%">
    </div>
    Formar integralmente profesionales que contribuyan a la gestión de empresas e innovación
    de procesos; así como al diseño, implementación y desarrollo de sistemas estratégicos
    de negocios, optimizando recursos en un entorno global, con ética y responsabilidad
    social. Si eres candidato a ingresar, te informamos que nuestro plan es SEMESTRAL
    y que la duración normal de las carreras es de ocho a doce semestres (incluyendo
    las residencias profesionales), dependiendo de la carga académica que tomes en cada
    semestre.
    <br />
    <h3>
        Perfil</h3>
    <div class="bthumb2">
        <img alt="" align="left" src="@Url.Content("~/img/carreras/Image9.jpg")" width="30%">
    </div>
    <p>
        Desarrollar y aplicar habilidades directivas y la ingeniería en el diseño, creación,
        gestión, desarrollo, fortalecimiento e innovación de las organizaciones, con una
        orientación sistémica y sustentable para la toma de decisiones en forma efectiva.
    </p>
    <br />
    <p>
        Diseñar e innovar estructuras administrativas y procesos, con base en las necesidades
        de las organizaciones para competir eficientemente en mercados globales.
    </p>
    <br />
    <p>
        Gestionar eficientemente los recursos de la organización con visión compartida,
        con el fin de suministrar bienes y servicios de calidad.
    </p>
    <br />
    <p>
        Aplicar métodos cuantitativos y cualitativos para el análisis e interpretación de
        datos y modelado de sistemas, en los procesos organizacionales para la mejora continua,
        atendiendo estándares de calidad mundial.
    </p>
    <br />
    <p>
        Diseñar, evaluar y emprender nuevos negocios y proyectos empresariales, que promuevan
        el desarrollo sustentable y la responsabilidad social, en un mercado competitivo.
    </p>
    <br />
    <p>
        Diseñar e implementar estrategias de mercadotecnia basadas en información recopilada
        de fuentes primarias y secundarias del consumidor o usuario de algún producto, de
        acuerdo a oportunidades y amenazas del mercado.
    </p>
    <br />
    <p>
        Establecer programas para el fortalecimiento de la seguridad e higiene en las organizaciones.
    </p>
    <br />
    <p>
        Gestionar sistemas integrales de calidad, ejerciendo un liderazgo efectivo y un
        compromiso ético, aplicando las herramientas básicas de la ingeniería.
    </p>
    <br />
    <p>
        Interpretar y aplicar normas legales que incidan en la creación y desarrollo de
        las organizaciones.
    </p>
    <br />
    <p>
        Integrar, dirigir y desarrollar equipos de trabajo para la mejora continua y el
        crecimiento integral de las organizaciones.
    </p>
    <br />
    <p>
        Analizar e interpretar la información financiera para detectar oportunidades de
        mejora e inversión en un mundo global, que incidan en la rentabilidad del negocio.
    </p>
    <br />
    <p>
        Utilizar las nuevas tecnologías de información en la organización, para optimizar
        los procesos de comunicación y eficientar la toma de decisiones.
    </p>
    <br />
    <p>
        Propiciar el desarrollo del capital humano, para la realización de los objetivos
        organizacionales, dentro de un marco ético y un contexto multicultural.
    </p>
    <br />
    <p>
        Aplicar métodos de investigación para desarrollar e innovar sistemas, procesos y
        productos en las diferentes dimensiones de la organización.
    </p>
    <br />
    <p>
        Gestionar la cadena de suministros de las organizaciones con un enfoque orientado
        a procesos.
    </p>
    <br />
    <p>
        Analizar e interpretar la economía global para facilitar la toma de decisiones en
        la organización.
    </p>
    <br />
    <br />
    <h3>
        Retículas</h3>
    <a href="https://www.dropbox.com/s/gtat6qira4nfapk/ige2009.pdf?dl=0">Plan 2009 </a>
</div>
