@{
    ViewBag.Title = "Ingeniería Industrial";
}
<div class="container" style="text-align:justify;">
    <h2>
        Ingeniería Industrial</h2>
    <div class="bthumb2">
        <img alt="" align="right" src="@Url.Content("~/img/carreras/Image12.jpg")" width="30%" border="2">
    </div>
    Los Institutos Tecnológicos se proponen formar a los egresados de Ingeniería Industrial
    como profesionales emprendedores, analíticos y creativos que mejoren la productividad
    del sistema de producción de bienes y servicios mediante el uso adecuado de los
    recursos disponibles, actuando como agentes de cambio en su disciplina y comprometidos
    con la problemática nacional. Si eres candidato a ingresar, te informamos que nuestro
    plan es SEMESTRAL y que la duración normal de las carreras es de ocho a doce semestres
    (incluyendo las residencias profesionales), dependiendo de la carga académica que
    tomes en cada semestre.
    <h3>
        Objetivo General</h3>
    <div class="bthumb2">
        <img alt="" align="left" src="@Url.Content("~/img/carreras/Image13.jpg")" width="30%" border="2">
    </div>
    Formar profesionales que contribuyan al desarrollo sustentable, con una visión sistémica,
    que responda a los retos que presentan los constantes cambios, en los sistemas de
    producción de bienes y servicios en el entorno global, con ética y comprometidos
    con la sociedad.
    <h3>
        Perfil Profesional</h3>
    <ul>
        <li>Diseña, implementa, administra y mejora sistemas integrados de abastecimiento, producción
            y distribución de organizaciones productoras de bienes y servicios, de forma sustentable
            y considerando las normas nacionales e internacionales.</li>
        <li>Conoce la estructura y funcionamiento básico para operar la maquinaria, herramientas,
            equipos e instrumentos de medición y control convencionales y de vanguardia.</li>
        <li>Participa en proyectos de transferencia, asimilación, desarrollo y adaptación de
            tecnologías.</li>
        <li>Integra, dirige y mantiene equipos de trabajo inter y multidisciplinarios en ambientes
            cambiantes y multiculturales.</li>
        <li>Diseña, implementa y administra sistemas de mantenimiento.</li>
        <li>Planea y diseña la localización y distribución de instalaciones para la producción
            de bienes y servicios.</li>
        <li>Selecciona, instala y pone en marcha maquinaria y equipo.</li>
        <li>Diseña, implementa y mejora los sistemas de trabajo aplicando la ergonomía.</li>
        <li>Integra y administra sistemas de higiene, seguridad industrial y protección al medio
            ambiente con conciencia e identidad social.</li>
        <li>Formula, evalúa y administra proyectos de inversión.</li>
        <li>Desarrolla actitudes emprendedoras, creativas, de superación personal y de liderazgo
            en su entorno social.</li>
        <li>Actúa con sentido ético en su entorno laboral y social. </li>
        <li>Utiliza las tecnologías y sistemas de información de manera eficiente. </li>
        <li>Utiliza técnicas y métodos cualitativos y cuantitativos para la toma de decisiones.</li>
    </ul>
    <h3>
        Retículas</h3>
    <ul>
        <li><a href="http://www.itchihuahuaii.edu.mx/Carreras/II/iind2004.pdf">Plan 2004</a>
        </li>
        <li><a href="http://www.itchihuahuaii.edu.mx/Carreras/II/iind2010.pdf">Plan 2010</a>
        </li>
    </ul>
</div>
