@{
    ViewBag.Title = "Ingeniería Informática";
}
<div class="container" style="text-align:justify;">
    <h2>
        Ingeniería Informática</h2>
    <div class="bthumb2">
        <img alt="" align="right" src="@Url.Content("~/img/carreras/Image10.jpg")" width="30%">
    </div>
    Formar profesionales competentes en el diseño, desarrollo, implementación y administración
    de servicios informáticos y gestión de proyectos con una visión sistémica, tecnológica
    y estratégica, ofreciendo soluciones innovadoras e integrales a las organizaciones,
    de acuerdo con las necesidades globales, actuales y emergentes, comprometidos con
    su entorno, desempeñándose con actitud ética, emprendedora y de liderazgo. Si eres
    candidato a ingresar, te informamos que nuestro plan es SEMESTRAL y que la duración
    normal de las carreras es de ocho a doce semestres (incluyendo las residencias profesionales),
    dependiendo de la carga académica que tomes en cada semestre.
    <br />
    <br />
    <h3>
        Perfil</h3>
    <div class="bthumb2">
        <img alt="" align="left" src="@Url.Content("~/img/carreras/Image11.jpg")" width="30%">
    </div>
    <ul>
        <li>Aplicar conocimientos científicos y tecnológicos en la solución de problemas en
            el área informática con un enfoque interdisciplinario.</li>
        <li>Administrar las tecnologías de la información, para estructurar proyectos estratégicos.</li>
        <li>Formular, gestionar y evaluar el desarrollo de proyectos informáticos en las organizaciones.</li>
        <li>Analizar, modelar, desarrollar, implementar y administrar sistemas de información
            para aumentar la productividad y competitividad de las organizaciones.</li>
        <li>Aplicar normas, marcos de referencia y estándares de calidad y seguridad vigentes
            en el ámbito del desarrollo y gestión de tecnologías y sistemas de información.</li>
        <li>Integrar las soluciones de tecnologías de información a los procesos organizacionales
            para fortalecer objetivos estratégicos.</li>
        <li>Seleccionar y utilizar de manera óptima técnicas y herramientas computacionales
            actuales y emergentes.</li>
        <li>Realizar actividades de auditoría y consultoría relacionadas con la función informática.</li>
        <li>Identificar, diseñar, desarrollar los mecanismos de almacenamiento, distribución,
            visualización y manipulación de la información.</li>
        <li>Identificar y aplicar modelos pertinentes en el diseño e implementación de base
            de datos para la gestión de la información en las organizaciones.</li>
        <li>Comunicarse de manera efectiva, en su propio idioma y al menos en un idioma extranjero,
            para integrarse a un contexto globalizado, en su desarrollo personal y profesional.</li>
        <li>Crear y administrar redes de comunicación, que contemplen el diseño, selección,
            instalación y mantenimiento para la operación de equipos de cómputo, aprovechando
            los avances tecnológicos a su alcance.</li>
        <li>Desempeñarse profesionalmente con ética en un contexto multicultural, comprometidos
            con la sociedad y conservación del medio ambiente.</li>
        <li>Observar y fomentar el cumplimiento de las disposiciones de carácter legal, relacionadas
            con la función informática.</li>
        <li>Analizar, desarrollar y programar modelos matemáticos, estadísticos y de simulación.</li>
        <li>Liderar y participar en grupos de trabajo profesional multi e interdisciplinario,
            para el desarrollo de proyectos que requieran soluciones basadas en tecnologías
            y sistemas de información.</li>
        <li>Lograr un nivel de competencia internacional, con espíritu innovador, creativo y
            emprendedor, para generar nuevas oportunidades y desarrollar proyectos aplicando
            las tecnologías de información.</li>
    </ul>
    <h3>
        Retículas</h3>
    <a href="https://www.dropbox.com/s/iiddcoo5gihmuj2/IINF-2010.jpg?dl=0">Ing. Inf. Plan
        2010 especialidad en Gestión de la Seguridad Informática</a>
</div>
