@{
    ViewBag.Title = "Ingeniería en Sistemas Computacionales";
}
<div class="container" style="text-align:justify;">
    <h2>
        Ingeniería en Sistemas Computacionales</h2>
    <div class="bthumb2">
        <img alt="" align="right" src="@Url.Content("~/img/carreras/Image1.jpg")" width="30%">
    </div>
    <p>
        Los Institutos Tecnol&oacute;gicos tienen como objetivo la formaci&oacute;n integral
        de profesionales con capacidad anal&iacute;tica, cr&iacute;tica y creativa. La carrera
        de Ingenier&iacute;a en Sistemas Computacionales tiene como objetivo formar profesionales
        capaces de diseñar y desarrollar sistemas de software que les permitan propiciar
        el fortalecimiento de la tecnolog&iacute;a nacional, administrar proyectos de desarrollo
        de software, especificar y evaluar configuraciones de sistemas de c&oacute;mputo
        en todo tipo de organizaciones donde se utilicen sistemas computacionales.</p>
    <p>
        Si eres candidato a ingresar, te informamos que nuestro plan es SEMESTRAL y que
        la duraci&oacute;n normal de las carreras es de ocho a doce semestres (incluyendo
        las residencias profesionales), dependiendo de la carga acad&eacute;mica que tomes
        en cada semestre.
    </p>
    <br />
    <h3>
        Perfil</h3>
    <div class="bthumb2">
        <img alt="" align="left" src="@Url.Content("~/img/carreras/Image2.jpg")" width="30%">
    </div>
    El Ingeniero en Sistemas Computacionales será capaz de identificar métodos de evaluación
    del impacto tecnológico, de mejorar y aplicar su ingenio y conocimiento, e integrar
    a su campo laboral diversas herramientas para optimizar la toma de decisiones tendientes
    a reorganizar las actividades de los planes estratégicos de uso de nuevas tecnologías
    en el campo de las ciencias computacionales. El Ingeniero en Sistemas Computacionales
    debe:
    <ul>
        <li>Desarrollar, evaluar y optimizar software.</li>
        <li>Desarrollar compiladores, sistemas operativos y demás recursos computacionales.
        </li>
        <li>Apoyar la creación de modelos matemáticos, estadísticos y de simulación. </li>
        <li>Diseñar, instalar y evaluar redes de teleproceso, y participar en la programación
            de dispositivos de control digital. </li>
        <li>Realizar investigaciones que fortalezcan el desarrollo cultural, científico y tecnológico.
        </li>
        <li>Dirigir y coordinar grupos de trabajo. </li>
        <li>Participar en grupos interdisciplinarios de investigación para realizar aportaciones
            en su área. </li>
        <li>Analizar la organización y arquitectura de los equipos de cómputo. </li>
        <li>Seleccionar y administrar al personal y equipo necesario para una unidad de servicios
            de cómputo.</li>
    </ul>
    <h3>
        Campo de Acción</h3>
    <p>
        El campo profesional para los egresados de la carrera en Ingeniería en Sistemas
        Computacionales es múltiple y variado, ya que pueden prestar sus servicios en diversas
        áreas de aplicación en cualquier organización de bienes y servicios, tanto en el
        sector privado como en el sector público.</p>
    <h3>
        Ret&iacute;culas</h3>
    <ul>
        <li><a href="https://www.dropbox.com/s/al3tb1val2boh6k/isc-2010-DispMov.jpg?dl=0">ISC 2010
            especialidad en aplicaciones para dispositivos móviles</a></li>
        <li><a href="https://www.dropbox.com/s/av9psd088ydzqlm/ISC-2004-Redes.jpg?dl=0">ISC
            Plan 2004 Especialidad en Redes</a> </li>
        <li><a href="https://www.dropbox.com/s/1e6svmhl7yhkhta/RetISC-2004-Rob.jpg?dl=0">ISC Plan
            2004 Especialidad en Robótica</a></li>
    </ul>
</div>
