@{
    ViewBag.Title = "Licenciatura en Administración";
}
<div class="container" style="text-align:justify;">
    <h2>
        Licenciatura en Administración</h2>
    <div class="bthumb2">
        <img alt="" align="right" src="@Url.Content("~/img/carreras/Image6.jpg")" width="20%">
    </div>
    Los Institutos Tecnológicos se proponen formar profesionales de la administración
    que sean capaces de optimizar los recursos de las organizaciones y de fomentar la
    creación de otras, mediante la aplicación, adaptación e innovación de conceptos,
    métodos, técnicas de la administración. Así mismo, desarrollar una actitud emprendedora
    para propiciar el logro de los propósitos de productividad, calidad, y competitividad,
    contribuyendo al desarrollo social y económico del país. Si eres candidato a ingresar,
    te informamos que nuestro plan es SEMESTRAL y que la duración normal de las carreras
    es de ocho a doce semestres (incluyendo las residencias profesionales), dependiendo
    de la carga académica que tomes en cada semestre.
    <h3>
        Perfil</h3>
    <div class="bthumb2">
        <img alt="" align="left" src="@Url.Content("~/img/carreras/Image7.jpg")" width="20%">
    </div>
    El egresado de esta carrera estará capacitado para:
    <ul>
        <li>Formular objetivos y estrategias generales y específicos de la organización.
        </li>
        <li>Aplicar sus conocimientos acerca del proceso administrativo en el desarrollo de
            las funciones de organización, propiciando la excelencia y calidad. </li>
        <li>Crear, innovar y adaptar la práctica administrativa en al organización. </li>
        <li>Aplicar, adaptar e innovar los conceptos, métodos y técnicas administrativas en
            la organización. </li>
        <li>Analizar, aplicar y adaptar los conocimientos, avances e innovaciones del campo
            administrativo. </li>
        <li>Adquirir y desarrollar capacidades y habilidades para ejercer estilos de liderazgo
            acordes con las características de las organizaciones. </li>
        <li>Utilizar en forma eficiente y eficaz los recursos de una organización. </li>
        <li>Adquirir y ejercitar habilidades para la prevención, manejo y solución de problemas
            y conflictos organizacionales. </li>
        <li>Analizar, diagnosticar e interpretar la situación de las organizaciones en su medio
            ambiente. </li>
        <li>Realizar estudios de factibilidad que propicien el desarrollo de la organización.
        </li>
        <li>Manejar paquetes computacionales para optimizar las actividades administrativas.
        </li>
        <li>Desempeñar diferentes funciones, de acuerdo con los requerimientos de la organización.
        </li>
        <li>Manifestar y fomentar actitudes de compromiso, solidaridad, respeto a la ética profesional
            y disposición de servicio. </li>
        <li>Propiciar en su medio el ejercicio de habilidades empresariales para la creación
            y desarrollo de nuevas organizaciones. </li>
    </ul>
    <h3>
        Campo de Acción</h3>
    El campo profesional para los egresados de la carrera de Licenciatura en Administración
    es vasto y polivalente, ya que pueden prestar sus servicios en cualquier organización
    productiva de bienes y servicios, tanto del sector privado como del sector público.
    De igual forma, los profesionales de la administración estarán capacitados para
    generar y emprender proyectos empresariales propios, o para coadyuvar en la creación
    de nuevas organizaciones productivas cuyas iniciativas se generen en su ámbito socioeconómico.
    <br />
    <h3>
        Retícula</h3>
    <a href="https://www.dropbox.com/s/14prs71359asfvm/ladm2004.pdf?dl=0">Plan 2004</a>
</div>
