@{
    ViewBag.Title = "Licenciatura en Informática";
}
<div class="container" style="text-align:justify;">
    <h2>
        Licenciatura en Informática</h2>
    <div class="bthumb2">
        <img alt="" align="right" src="@Url.Content("~/img/carreras/Image5.jpg")" width="20%">
    </div>
    Los Institutos Tecnológicos dependientes de la Secretaria de Educación Pública pretenden
    formar a los egresados de la carrera de Licenciatura en Informática con una formación
    interdisciplinaria que les permita el conocimiento y manejo de los elementos y relaciones
    del contexto informático involucrados en una organización; que tengan la capacidad
    para analizar situaciones reales y plantear soluciones a los problemas detectados
    en el desarrollo de procesamientos de datos en una organización, que favorezca el
    planteamiento del escenario de la organización y mejore su estado actual, reflejándose
    en un incremento en la calidad y productividad de la misma. Se busca que los que
    los egresados además de estar comprometidos con la problemática nacional actúen
    como agentes de cambio. Si eres candidato a ingresar, te informamos que esta carrera
    está en liquidación, lo que significa que ya no se abren grupos de primer semestre.
    Como alternativa, puedes decidirte por cualquiera de las siguientes:
    <br />
    <ul>
        <li><a href="@Url.Action("Carreras", "IINF")">Ingeniería en Informática</a></li>
        <li><a href="@Url.Action("Carreras", "ISC")">Ingeniería en Sistemas Computacionales</a></li>
    </ul>
</div>
