@{
    ViewBag.Title = "MII";
}

<div class="container" style="text-align:justify;">
    <h2>Maestría en Ingeniería Industrial</h2><br />
     <h4>PERFIL DE EGRESO</h4>
    <p>       
 Al concluir su programa de maestría los egresados estarán familiarizados con el conocimiento considerado el Estado del Arte en el área de Ingeniería Industrial. 
 A su vez, serán capaces de aplicar dicho conocimiento, para establecer y dirigir de manera efectiva proyectos de mejora dentro de una empresa, ya sea manufacturera, 
 de servicios: pública o privada. </p>
 <a href="http://ingenieriaindustrialtec2.mx/m_industrial.html" style="font-size: large; font-weight: bold">Más Información...</a>    
    <br /> <br />
    
    <h4>LÍNEAS DE GENERACIÓN/APLICACIÓN DEL CONOCIMIENTO</h4>    
    <ul>
        <li>ADMINISTRACIÓN DE LAS OPERACIONES INDUSTRIALES. Análisis de la respuesta dinámica de sistemas de producción con escalones múltiples. 
        Discretización de ciertos selectos modelos continuos de inventarios en orden a su incorporación con ERP. Desarrollo e implementación de una interface 
        gráfica para la estimación del efecto de amplificación de la demanda.
</li>
        <li>ADMINISTRACIÓN DE SISTEMAS INTEGRALES DE CALIDAD. Integración de Six Sigma y Manufactura Esbelta (Lean Six Sigma) para lograr la excelencia en la 
        Cadena de Suministros. Integración de Six Sigma y Manufactura Esbelta (Lean Six Sigma) para lograr la excelencia en la Cadena de Suministros. Implementación 
        de programas Six Sigma definiendo las necesidades estadísticas de la empresa. Diseño de experimentos y Metodología de las Superficies de Respuesta como 
        herramientas de optimización de procesos.</li>
        
        <li>OPTIMIZACIÓN E INNOVACIÓN. Solución al problema de distribución en planta con control geométrico y uso de técnicas multicriterio discretas. Uso de la teoría de juegos en el desarrollo 
        de estrategias de negociación para las cadenas de suministros Distribución de la demanda de productos con utilización de cadenas de Markov.</li>         
    <a href="http://ingenieriaindustrialtec2.mx/m_industrial.html" style="font-size: large; font-weight: bold">Más Información...</a>
    </ul>
     
    <br /><br />
    
    <h4>INFORMACIÓN COMPLETA EN EL SITIO DEL DEPI:</h4>
    <ul>
        <li><a href="http://ingenieriaindustrialtec2.mx/m_industrial.html" style="font-size: large; font-weight: bold">MAESTRÍA EN INGENIRÍA INDUSTRIAL</a></li> 
    </ul>       
</div>


