@{
    ViewBag.Title = "Index";
    <!--Layout = "~/Views/UsoDelSitio/UsoDelSitio.cshtml";-->
}

<div class="container" style="text-align:justify;">
    <h3 align="center">USO DE ESTE SITIO</h3><br /><br />
    <h4 style="color: #800000" align="left">CONSULTAS MÁS COMUNES</h4>
    <h5>Avisos, Noticias, Documentos, Graduación, Documentos, Radio en Línea.</h5>
    <br /><br />
        <div class="bthumb2">            
             <a href="http://www.itchihuahuaii.edu.mx"><img align="right" src="@Url.Content("~/img/photos/SitioCompleto.jpg")" width="50%" border="1" style="margin: 60px 0px 0px 10px"></a>            
        </div>
            <h5>AVISOS</h5><br />
        <div align="left" style="width: 500px; ">
            <p style="text-align: justify">
              Los avisos te mantienen informado de lo que te puede interesar (Concursos, becas, eventos, fechas importantes,etc.).<br /><br />
              A fin de que no te pierdas en aquellos que no te interesan, los hemos clasificado dependiendo si eres:<br />
              ASPIRANTE<br />
              ALUMNO<br />
              EGRESADO<br />
              PERSONAL DEL ITCHII<br /><br />
              Hay tres maneras de accesar esas cuatro categorías:<br />
              1. Mediante el MENÚ PRINCIPAL (flecha azul).<br />
              2. Mediante las CATEGORÍAS (4 flechas rojas).<br />
              3. Mediante las CATEGORÍAS EXPRESS (4 flechas verdes).
              </p><br />
              <p style="color: #800000">
              MANTENTE INFORMADO DESDE TU BUZÓN:<br />
              1. ingresando en tu CATEGORÍA (una de las 4 flechas rojas) y haciendo clic en el botón "Recibe avisos en tu correo"
              de esta manera, los avisos llegarán a tu correo en cuanto sean generados.<br />
              2. Verificando nuestro Calendario (uno de los tres grandes rectángulos verdes).<br />
              </p><br /><br />              
        </div>
        <div class="bthumb2">            
        <!--<a href="http://www.itchihuahuaii.edu.mx"><img align="right" src="@Url.Content("~/img/photos/AvisosCategorias.jpg")" width="50%" border="1" style="margin: 60px 0px 0px 10px"></a>-->            
        </div>
            <h5>CONVOCATORIAS</h5><br />
        <div align="left" style="width: 500px; ">
            <p style="text-align: justify">
              La flecha amarilla te indica donde consultar las convocatorias (concursos, becas, estudios especiales, etc.) a las que tienes derecho como alumno, egresado o parte del personal.<br /><br />
              Las convocatorias no están categorizadas, es decir, hay una sola sección para alumnos, egresados y personal.<br />
            </p><br /><br />              
        </div>
            <h5>NOTICIAS</h5><br />
        <div align="left" style="width: 500px; ">
            <p style="text-align: justify">
              Si te interesa mantenerte actualizado sobre el acontecer de la Casa de los Bisontes, consulta este noticiero (flecha gris).<br /><br />
              Las noticias no están categorizadas, es decir, hay una sola sección para aspirantes, alumnos, egresados y personal.<br />
            </p><br /><br />              
        </div>
            <h5>DOCUMENTOS</h5><br />
        <div align="left" style="width: 500px; ">
            <p style="text-align: justify">
              Encontrarás aquí (es uno de los tres rectángulos verde oscuro) documentos necesarios para tus trámites (actividades complementarias, servicio social, residencias, titulación, para aspirantes o personal, etc).<br /><br />
              Tambien encontrarás Convocatorias, el calendario escolar, reglamentos, costo de trámites, retículas, etc.<br />              
            </p><br /><br />              
        </div>
        <h5>¿TE VAS A GRADUAR? ¿YA EGRESASTE?</h5><br />
        <div align="left" style="width: 500px; ">
            <p style="text-align: justify">
              "OTROS ENLACES" (Flecha café) contiene una liga a la información de la graduación ("Próxima Graduación") y a las minutas de las reuniones pro-graduación.<br />   
              No olvides entrar a la sección de Egresados (una de las 4 flechas rojas) para darte de alta en el Sistema de Notificaciones para egresados ("Recibe avisos den tu correo").              
            </p><br /><br />              
        </div>
        <h5>RADIO EN LÍNEA</h5><br />
        <div align="left" style="width: 800px; ">
            <p style="text-align: justify">
              Escucha la Radio del Tec II (RadioTec) entrando al sitio de la misma (uno de los tres rectángulos verdes).<br />
              Encontrarás la programación, contenido de los programas y podrás escucharnos.<br />
              Próximamente nos podrás escuchar también en F.M.              
            </p><br /><br />              
        </div>         
</div>