@{
    ViewBag.Title = "Index";
    <!--Layout = "~/Views/UsoDelSitio/UsoDelSitio.cshtml";-->
}

<div class="container" style="text-align:justify;">
    <h3 align="center">USO DE ESTE SITIO</h3>
    <h4 style="color: #800000" align="left">GENERALIDADES</h4>
    <br /><br />
        <div class="bthumb2">
             <a href="http://www.tecnm.mx/sgeg"><img align="right" src="@Url.Content("~/img/photos/Aspirantes.jpg")" width="60%" border="2"></a>            
        </div>
            <h5>Partes principales del sitio</h5><br />
        <div align="left" style="width: 500px">
            <p style="text-align: justify">
              Este sitio contiene las siguientes partes:
            </p>
        </div>    
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
        <h5 align="center" style="color: #CC3300">Esta sección de nuestro sitio web se encuentra en construcción, paulatinamente contendrá más información y estará más estructurada</h5>
        <h6 align="center">Agradecemos su paciencia</h6>
        </p>     
</div>