@{
    ViewBag.Title = "Docentes";
}

<div class="container">
    <div class="row lp">
        <div class="col-md-12">
            <div class="center">
                <h2>
                    Personal del ITCH II</h2>
                <p class="big grey">
                    Bienvenido al Instituto Tecnol&oacute;gico de Chihuahua II.</p>
                <!-- Image -->
                <div class="lp-image">
                    <a href="#">
                        <img src="@Url.Content("~/img/photos/Docentes.jpg")" alt="" class="img-responsive" />
                    </a>
                </div>
                <!-- Button -->
                <div class="button">
                    <a href="#" onclick="window.open('http://eepurl.com/4Agzb', 'nuevo', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=650, height=750')"><i class="icon-mail-reply"></i> Recibe avisos en tu correo</a> &nbsp; 
                    <a href="https://twitter.com/_itchihuahuaii"><i class="icon-twitter-sign"></i> Siguenos en Twitter</a>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h4>
                        Mantente informado en tu correo</h4>
                    <p>
                        Haz clic en el botón "Recibe avisos en tu correo" para mantenerte informado a través de tu correo electrónico.
                    </p>
                    <hr />
                    <h4>
                        </h4>
                    <p>
                        </p>
                    <hr />
                </div>
                <div class="col-md-6 col-sm-6">
                    <h4>
                        Convocatorias</h4>
                    <p>
                        Todas las convocatorias se almacenan en un lugar especial: En la página de inicio, en la sección de Avisos.
                    </p>
                    <hr />
                    <h4>
                        </h4>
                    <p>
                        </p>
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <!-- Avisos para el personal/ -->
    @Html.Partial("_DocentesNoticias")
    <!-- /Avisos par el personal -->
</div>
