@{
    ViewBag.Title = "Contacto";
}
<div class="container">
    <h2>
        Contáctanos</h2>
    <p class="big grey">
        Utiliza el menú superior si tienes dudas sobre carreras o departamentos.</p>
        <p class="big grey">Si eres aspirante, utiliza la sección especial para ello: ASPIRANTES (en la página de inicio)</p>
    <hr />
    <div class="contact">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- Google maps -->
                <div class="gmap">
                    <iframe height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x86ea43d59dbdb635%3A0xb3ec89b0c162b95e!2sInstituto+Tecnologico+de+Chihuahua+II%2C+Revoluci%C3%B3n%2C+Chihuahua%2C+M%C3%A9xico!5e0!3m2!1ses!2s!4v1389675246686"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="cwell">
                    <!-- Contact form -->
                    <h5>
                        Contacto</h5>
                    <p>Si tiene dudas favor de hacerlas al departamento adecuado,</p>
                    <p>para lo cual haga clic en DEPARTAMENTOS en el menú superior (gris oscuro)</p><br />
                    <p>
                        El siguiente correo es EXCLUSIVAMENTE para atender comentarios sobre el funcionamiento de este sitio web:
                        <a href="mailto:#">webmaster@itchihuahuaii.edu.mx</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="cwell">
                    <!-- Address section -->
                    <h5>
                        Direcci&oacute;n</h5>
                    <div class="address">
                        <address>
                            <!-- Company name -->
                            <h6>
                                Insituto Tecnol&oacute;gico de Chihuahua II</h6>
                            <!-- Address -->
                            Av. de las Industrias #11101, <br>
                            Complejo Industrial <br />
                            Chiahuahua, Chih.<br>
                            <!-- Phone number -->
                            <abbr title="Phone">
                                P:</abbr>
                            (01-614) 4-42-50-00.
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
