@{
    ViewBag.Title = "Contacto";
}
<div class="container">
    <h2>
        Contactanos</h2>
    <p class="big grey">
        Tienes alguna duda, cu&eacute;ntanos…</p>
    <hr />
    <div class="contact">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- Google maps -->
                <div class="gmap">
                    <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
                    @*<iframe height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Google+India+Bangalore,+Bennigana+Halli,+Bangalore,+Karnataka&amp;aq=0&amp;oq=google+&amp;sll=9.930582,78.12303&amp;sspn=0.192085,0.308647&amp;ie=UTF8&amp;hq=Google&amp;hnear=Bennigana+Halli,+Bangalore,+Bengaluru+Urban,+Karnataka&amp;t=m&amp;ll=12.993518,77.660294&amp;spn=0.012545,0.036006&amp;z=15&amp;output=embed">
                    </iframe>*@

                    <iframe height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x86ea43d59dbdb635%3A0xb3ec89b0c162b95e!2sInstituto+Tecnologico+de+Chihuahua+II%2C+Revoluci%C3%B3n%2C+Chihuahua%2C+M%C3%A9xico!5e0!3m2!1ses!2s!4v1389675246686"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="cwell">
                    <!-- Contact form -->
                    <h5>
                        Contacto</h5>
                    <div class="form">
                        <!-- Contact form (not working)-->
                        <form class="form-horizontal">
                        <!-- Name -->
                        <div class="form-group">
                            <label class="control-label col-md-3" for="name">
                                Nombre</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-group">
                            <label class="control-label col-md-3" for="email">
                                Correo</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="email">
                            </div>
                        </div>
                        <!-- Comment -->
                        <div class="form-group">
                            <label class="control-label col-md-3" for="comment">
                                Comentario</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="comment" rows="3"></textarea>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="form-group">
                            <!-- Buttons -->
                            <div class="col-md-9 col-md-offset-3">
                                <button type="submit" class="btn btn-default">
                                    Enviar</button>
                                <button type="reset" class="btn btn-default">
                                    Reiniciar</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="cwell">
                    <!-- Address section -->
                    <h5>
                        Direcci&oacute;n</h5>
                    <div class="address">
                        <address>
                            <!-- Company name -->
                            <h6>
                                Insituto Tecnol&oacute;gico de Chihuahua II</h6>
                            <!-- Address -->
                            Av. de las Industrias #11101, <br>
                            Complejo Industrial <br />
                            Chiahuahua, Chih.<br>
                            <!-- Phone number -->
                            <abbr title="Phone">
                                P:</abbr>
                            (01-614) 4-42-50-00.
                        </address>
                        <address>
                            <!-- Name -->
                            <h6>
                                Contacto</h6>
                            <!-- Email -->
                            <p>Si tiene dudas favor de hacerlas al departamento adecuado</p>
                            <p>para lo cual haga clic en DEPARTAMENTOS en el menú superior (gris oscuro)</p>
                            <p>El siguiente correo es exclusivamente para comentarios sobre este sitio web</p>                            
                            <a href="mailto:#">webmaster@itchihuahuaii.edu.mx</a>
                            
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
