@{
    ViewBag.Title = "Index";
}
<div class="container" style="text-align: justify;">
    <div class="row">
        <h2>
            Historia: El Instituto Tecnológico de Chihuahua II</h2>
        <p>
            Nuestro Instituto es el resultado de una serie de esfuerzos y reflexiones de gentes
            que en un momento detectaron la necesidad de crear un plantel más que atendiera
            y viera a la educación superior tecnológica como el motor del desarrollo y progreso
            en la sociedad y en el sector productivo. Esta era una gran empresa, un gran reto,
            digno de la gente de chihuahua y como tal fue tomado sin siguiera pensar en lo arduo
            de la labor que se emprendía y teniendo fijo en la mente el responder a las expectativas
            del desarrollo social económico y humano de los jóvenes que optaban por la nueva
            alternativa. La creación del Instituto Tecnológico de Chihuahua II, "El Tec II"
            como hoy se conoce y se le nombra con cariño no fue fortuita o producto de afanes
            protagónicos de tipo político, había que satisfacer una necesidad social general:
            Tener una Institución que ubicara, orientara y marcara nuevos rumbos a las carreras
            de naturaleza técnica ya que en ese tiempo la demanda de espacios en las universidades
            locales había rebasado la capacidad de atención originando un gran problema social
            y educativo. Historia ITChII
        </p>
        <br />
        <p>
            Con estos antecedentes se inició la planeación de la obra que culminaría con la
            creación de nuestro plantel. Las gestiones tuvieron su inicio y en ellas participaron
            personas como el entonces gobernador del estado Lic. Fernando Baeza Meléndez, el
            Ing. Leonardo Sánchez Cuéllar Director General del SNIT, el Lic. Manuel González
            Avelar, Secretario de Educación Pública, el Dr. Manuel V. Ortega Ortega, Subsecretario
            de Educación e Investigación Tecnológicas, el Ing. José Elio de Anda Meza en aquel
            tiempo Subdirector de Planeación de la D.G.I.T., el Lic. Mario de la Torre, Presidente
            Municipal de Chihuahua y el Lic. Fernando Leal del Rosal, Secretario de Desarrollo
            Social y el C. Ramón Navarro Salazar entre otros. Leer más...
        </p>
        <br />
        <p>
            Gracias al tesón e interés puesto en los casi dos meses de trámites el proyecto
            tuvo éxito y se aprobó la creación de otro Instituto Tecnológico en la ciudad de
            Chihuahua el 14 de septiembre de 1987, de la firma de este acuerdo surgieron acuerdos
            y compromisos importantes tanto para el Gobierno del Estado, cuya responsabilidad
            fué construír y entregar la primera etapa de la obra requerida para la operación
            del Instituto de acuerdo a las especificaciones y normatividades existentes, como
            para la SEP, que contrajo el compromiso de absorber los gastos de construcción y
            equipamiento que requiriera el Instituto a partir de la segunda etapa de la obra
            además obviamente de cubrir los sueldos del personal. Ya con un Director nombrado
            siguió la fase de la planeación y organización de la labor educativa y las que de
            ello se derivan, jornadas agotadoras del cuerpo directivo entre quienes se puede
            citar al propio Ing. José Elio de Anda Meza, Director, al Ing. Victor Manuel Delgado
            Muñoz, al Lic. Ramón Durán Muñoz, al Lic. Felipe Pedroza Durán, al Lic. Jorge Rodas
            Rivera, a la Lic. Amalia Delia Medina Tarin, a la Lic. Guadalupe Prieto Rodríguez,
            a la Ing. AlejandrinaMedina, al Lic. Enrique Martínez Muñoz y a la Ing. Monica Patricia
            Aguirre Granados, entre otros.
        </p>
        <br />
        <p>
            Recordemos que el Instituto se formó para resolver la creciente demanda de los jóvenes
            por ingresar a instituciones de educación superior, demanda que se hacía imposible
            de satisfacer por el Instituto Tecnológico de Chihuahua, el cual ofrecía carreras
            de nivel superior como ingenierías y una licenciatura. Ocurrió que durante la matrícula
            de julio de 1987, el Tecnológico de Chihuahua registró una demanda excesiva para
            su capacidad de atención: 2250 jóvenes solicitaron ingreso, de los cuales sólo pudieron
            ingresar 890. Rechazar a los 1360 restantes constituiría un verdadero problema social.
            Afortunadamente el Gobierno del Estado y la Secretaría de Educación Pública (SEP)
            por conducto de la DGIT, tuvieron la voluntad de resolverlo, en beneficio de estos
            jóvenes y por ende en beneficio de toda la comunidad. Así fue como el Gobierno del
            Estado declaró que se estimaba necesaria la creación de un nuevo Instituto Tecnológico
            en esta ciudad, que posea una infraestructura similar al existente, en la que participen
            las autoridades educativas federales con recursos financieros y humanos, y así lograr
            la cristalización de ese proyecto que redundará en beneficio para la población estudiantil
            Además el Plan Nacional de Desarrollo 1983 - 1988 tenía como prioridad el impulso
            a la educación superior tecnológica mediante el fortalecimiento y consolidación
            de los servicios educativos que ofrece el sistema de educación superior tecnológica,
            coordinándolos con las necesidades económicas y sociales de la región. Había una
            intensa demanda de educación superior tecnológica en especial en la zona norte del
            país, zona en la cual la creciente instalación de empresas maquiladoras comenzaban
            a ofrecer un amplio campo laboral a este tipo de profesionales. De esta manera el
            nuevo Instituto inició sus actividades en septiembre de 1987, integrándose a la
            estructura de la Dirección General de Institutos Tecnológicos dependiente de la
            Sub-Secretaría de Educación e Investigación Tecnológicas.
        </p>
        <br />
        <p>
            Para facilitar el cumplimiento del ambicioso proyecto, el Gobierno del Estado entregó
            un terreno de 30 hectáreas y se comprometió a construir y equipar a los edificios
            necesarios para la materialización del proyecto, entregándolos en el mes de julio
            de 1988; entre ellos están las aulas, administración y biblioteca provisional (más
            tarde tuvimos las definitivas), servicios, laboratorio, centro de cómputo, taller
            de dibujo, canchas, estacionamiento, vías de acceso y áreas verdes.
        </p>
        <br />
        <p>
            Otro de los problemas urgentes que había que afrontar era el conseguir un espacio
            físico para establecer las oficinas del Instituto y como allegarse recursos para
            afrontar los gastos que como institución de enseñanza superior técnica se tenían
            que solventar. Fué así como el CRODE (Centro Regional de Optimización y Desarrollo
            de Equipo de la D.G.I.T.) facilitó un espacio que sirviera inicialmente como oficinas
            del Tec II y no faltaron organizaciones sociales, el mismo gobierno del estado y
            los otros tecnológicos hermanos que apoyaron decididamente en la superación de infinidad
            de obstáculos para poder iniciar clases en un local ubicado en la calle 21 y J.
            Eligio Muñoz en la Col. Santo Niño el día 5 de Octubre de 1987, dando así el Tec
            II sus primeros pasos, luego de agotadoras reuniones de planificación y de la discusión
            de asuntos delicados como la búsqueda de financiamiento. Esa mañana de octubre 230
            alumnos iniciarían su vida estudiantil en el Tec de Chihuahua II. Precisamente ese
            día las "instalaciones del Tec II" fueron tomadas por la FEUCH que solicitaba se
            admitieran a todos los alumnos que no fueron aceptados en el Tecnológico de Chihuahua
            argumentando que para eso había sido creado el ITCH II, después de intensas negociaciónes
            se concluyó que eso no era factible pero que se haría lo posible para darles cabida
            abriendo grupos de 60 alumnos. En estas condiciones las clases iniciaron el martes
            6 de octubre con 456 alumnos distribuidos en las 4 carreras en un local que no era
            propio y que no reunía las condiciones idóneas para las labores que allí se realizaban;
            las limitaciones y las carencias eran muchas pero no lo suficientes para resquebrajar
            el entusiasmo de los integrantes de la naciente institución educativa aunque se
            necesitaban apoyos, material y equipo para apuntalar y llevar a cabo la función
            educativa en las mejores condiciones.
        </p>
        <br />
        <p>
            Con el apoyo de 27 docentes y 28 trabajadores administrativos y de servicio, cuatro
            carreras se empezaron a impartir en un plan cuatrimestral en ese entonces: Ingeniería
            en Sistemas Computacionales, Ingeniería Industrial, Licenciatura en Informática
            y Licenciatura en Relaciones Industriales. A medida que se fueron desarrollando
            las actividades, fueron surgiendo diversas necesidades, como el acceso a material
            de apoyo, equipos, fuentes de información, así como actividades extraprogramáticas
            culturales y deportivas y la asistencia técnica que necesita toda comunidad: capacitación,
            apoyo a la comunidad, servicio social, talleres de folklore y laboratorios para
            práctica de los alumnos; habiendo también proyectos para en un futuro implementar
            diplomados, cursos de postgrado y maestrías. Pronto se hizo estrecho el inmueble
            ocupado por los alumnos, a pesar de que esto ayudó a que los lazos de amistad se
            estrecharan, en una comprensiva actitud de todos por "ponerse la camiseta" del Tec
            II y colaborar por el camino que se estaba abriendo. Se hizo otro traslado provisorio
            al Centro de Investigación y Asistencia Tecnológicas del Estado de Chihuahua (CIATECH)
            en la calle Bogotá 1902, Fraccionamiento Gloria, , mientras se desmontaba y se deslindaba
            el terreno que ocuparían las instalaciones propias y de una manera definitiva.
        </p>
        <br />
        <p>
            En agosto de 1988, ya instalados en la calle Bogotá del Fraccionamiento Gloria,
            hubo necesidad de hacer adecuaciones y adaptaciones para convertir aquello en aulas.
            Cabe mencionar que el entusiasmo del personal y alumnos iba en aumento al "reestrenar"
            otro edificio que todavía no era el propio y esto nos hace ver que las escuelas
            no son los edificios sino las personas que por convicción propia acuden a prepararse
            a convivir y a alcanzar los objetivos académico-profesionales que se han marcado.
            Obviamente estas instalaciones tampoco reunían las condiciones idóneas para las
            funciones académicas pero en su momento era lo que se tenía y había la necesidad
            de ajustarse a ello.
        </p>
        <br />
        <p>
            Mientras tanto los trabajos de desmonte y deslinde del terreno propio habían continuado
            y el 31 de mayo de 1988 el Secretario de Educación Pública acompañado del Gobernador
            del Estado habían colocado la primera piedra de lo que hoy son nuestras instalaciones,
            en esta etapa se contó con la colaboración de los alumnos, 5ª. Zona Militar, Presidencia
            Municipal y la Facultad de Ingeniería de la UACH. La primera etapa de la construcción
            consistió en 5 edificios, 3 de los cuales agruparon 12 aulas, 4 laboratorios y un
            taller de dibujo con una inversión aproximada de 610 millones de pesos, cabe mencionar
            que esta fase estuvo a cargo de Gobierno del Estado. Los dos edificios restantes
            correspondió al Gobierno Federal su construcción via CAPFCE y que consistió en 5
            aulas, 1 laboratorio y una biblioteca con una inversión de 440 millones de pesos.
        </p>
        <br />
        <p>
            Mientras las labores sustanciales del Instituto continuaban en el local ubicado
            en el plantel del fraccionamiento Gloria, la población escolar iba en aumento y
            fue lo que "obligó" a tomar la decisión de mudarse, por lo que el 15 de agosto de
            1989 se trasladó todo a su sede definitiva en la Ave. De las Industrias 11101, complejo
            Industrial Chihuahua, lugar en que estaba ya construida la primera parte y que fue
            habilitada, en una extraordinaria experiencia en la cual todos colaboraron: alumnos,
            docentes y administrativos.
        </p>
        <br />
        <p>
            Con el correr del tiempo el apresurado plan cuatrimestral dejó paso al plan semestral,
            en el que la vida estudiantil se puede disfrutar a la vez que se mejoró el aprovechamiento
            de los recursos y los programas de estudios. El ámbito académico sufrió cambios
            también en cuanto a los conocimientos impartidos, los planes de estudios evolucionaron
            hasta el actual plan de estudios 2004, la carrera de Licenciatura en Relaciones
            Industriales desapareció, la carrera de Arquitectura inició y se consolidó, dio
            inicio la Maestría en Dirección de Operaciones, etc.
        </p>
        <br />
        <p>
            Volviendo a la infraestructura, la historia de aquellos primeros edificios y otros
            que vinieron después ha sido larga y ardua, así por ejemplo, la biblioteca se acondicionó
            inicialmente en el edificio E, luego en el B y finalmente en el edificio diseñado
            especialmente para ella (A). La administración también ha seguido una ruta ascendente,
            iniciando en reducidos espacios del Edif. E, para luego compartir con la biblioteca
            el edificio A y finalmente establecerse en su propio edificio, el H. Los departamentos
            académicos iniciaron en el edificio E, luego pasaron al B, después algunos pasaron
            al C y otros al L y finalmente, unos quedaron en el C (Ciencias Básicas, Ing. Industrial
            y Sistemas y Computación) y otros en el M (Económico Administrativas y Ciencias
            de la Tierra).
        </p>
        <br />
        <p>
            Una historia breve del crecimiento de nuestra escuela lo muestra la siguiente tabla,
            que presenta los distintos edificios, su uso actual y el año en que su construcción
            concluyó:
        </p>
        <br />
        <ul>
            <li>B Audiovisual, Aulas, Desarrollo Académico. 1988</li>
            <li>C Deptos. Académicos 1988</li>
            <li>D Aulas 1988</li>
            <li>E Aulas, Comité Directivo y Laboratorios 1988</li>
            <li>A Centro de Información (Biblioteca) 1989</li>
            <li>F Aulas 1989</li>
            <li>G Aulas 1990</li>
            <li>H Administración. 1991</li>
            <li>K Laboratorio de Métodos 1992</li>
            <li>J Gimnasio 1993</li>
            <li>L Lab. de Cómputo 1993</li>
            <li>N Cafetería 1993</li>
            <li>I Almacén, Mantenimiento, Imprenta. 1994</li>
            <li>M Deptos. Académicos y aulas 1997</li>
            <li>O Aulas 2004</li>
            <li>R Desarrollo Académico. División de Estudios Profesionales y Gestión Tecnológica
                y Vinculación 2008 </li>
            <li>P Deptos. Académicos 2009</li>
        </ul>
        <br />
        <p>
            Otra actividad que ha ayudado a la integración del estudiante fueron las campañas
            de forestación en la cual se han plantado 2650 árboles con un sistema especial de
            riego, labor que fue llevada a cabo en varias etapas con gran entusiasmo por los
            alumnos, en un trabajo en equipo y que fue todo un éxito; gracias a esto al Tec
            y las colonias cercanas a él tendrán en el futuro un verdadero pulmón verde, y nuestra
            comunidad se ve beneficiada con la calidez y belleza de los árboles que vemos crecer
            junto al Instituto Tecnológico; así es como creamos conciencia de la importancia
            de proteger las especies naturales y nuestro entorno.
        </p>
        <br />
        <p>
            Como podemos apreciar, desde aquellos días, el Tec de Chihuahua II ha aumentado
            su infraestructura técnica, científica y educativa para recibir un número creciente
            de alumnos y darles la formación integral que la educación superior tecnológica
            tiene como objetivo. Actualmente el Instituto ofrece las carreras de Ingeniería
            Industrial, Ingeniería en Sistemas Computacionales, Licenciatura en Administración,
            Licenciatura en Informática, carrera de Arquitectura y la Maestría en Dirección
            de Operaciones.
        </p>
        <br />
        <p>
            Actualmente el Instituto tiene una estructura departamental diseñada de manera que
            permite aprovechar al máximo el capital humano con que cuenta, su plantilla laboral
            la componen 4 directivos, alrededor de 20 funcionarios docentes, siendo su alumnado
            de dos millardos y medio atendido por unos 200 profesores y 80 trabajadores de apoyo
            a la educación. La estructura departamental del Instituto fue diseñada de tal manera
            que permite aprovechar al máximo las capacidades del personal docente y de investigación,
            a la vez, de arraigar y dar prestigio al trabajo académico. Este grupo se sustenta
            en la agrupación de docentes e investigadores de una misma rama que trabajan coordinadamente
            en la labor académica bajo el manejo de un jefe de departamento de cada área. Junto
            a este crecimiento cuantitativo, se ha alcanzado un nivel cualitativamente superior
            en lo que se refiere a los servicios que se entregan a la comunidad además de las
            carreras que se imparten, crecimiento que se da en dos direcciones: una de ellas
            es la formación integral que necesita cada estudiante, proporcionándoles oportunidades
            de desarrollarse en diferentes áreas complementarias a su disciplina, como el deporte
            (atletismo, básquetbol, volibol, futbol, béisbol, natación y gimnasia aeróbica)
            y actividades culturales en talleres de danza folklorica, danza moderna, teatro,
            rondalla, banda de guerra y grupo de edecanes, disciplinas en las cuales los alumnos
            han representado muy bien al Tec de Chihuahua II. La otra dirección de crecimiento
            a que nos referimos es en cuanto a las asesorías académicas que reciben los alumnos
            para revisar y ampliar conceptos y conocimientos que haya recibido en clases. Por
            otro lado, y siempre en la misma dirección de crecimiento para engrandecer a la
            institución, existe una retroalimentación permanente hacia el cuerpo de docentes
            a quienes se brindan cursos de actualización y desarrollo, así como un intercambio
            permanente con otras instituciones de educación superior de nuestro país y del extranjero,
            con el fin de establecer un puente de información multidireccional en las áreas
            de interés común; de esta manera los docentes participan en encuentros académicos
            para actualizar constantemente los planes de estudio de las diferentes carreras
            que se imparten en los Tecnológicos. Los alumnos y profesores pueden obtener información
            en forma rápida y contingente de diferentes temas de su interés; como complemento
            de esto, el sistema de biblioteca cuenta con un centro de información en línea mediante
            el cual puede acceder a la más completa colección de material gráfico y audiovisual.
            INTERNET es el sistema satelital que nos amplía infinitamente el acceso a la información.
        </p>
        <br />
        <p>
            Como podremos ver, el Tec II es una institución que se preocupa de desarrollarse
            y desarrollar a quienes participan en él, proporcionando las facilidades que hagan
            posible un crecimiento profesional y humano del más alto nivel. Y como en el resto
            del sistema educativo Nacional, también nuestros estudiantes están afiliados al
            IMSS, Instituto Mexicano del Seguro Social (IMSS) para dar atención médica gratuita
            de todo tipo a los alumnos, además de un servicio de emergencia con un médico permanente
            dentro del TEC. Los alumnos también pueden acceder a un sistema de becas en efectivo
            otorgadas por la Secretaría de Educación Pública, para quienes tienen un alto nivel
            de aprovechamiento. De la misma manera, la comunidad estudiantil y docente organiza
            periódicamente actividades de esparcimiento, participando todos con gran entusiasmo,
            pudiendo aso estrechar relaciones personales que al joven estudiante le servirán
            en su desarrollo, logrando un sentido de pertenencia a su grupo y a su Institución,
            así como una integración de las personas de las diferentes carreras y actividades
            de la misma. Anualmente además, cada carrera organiza una semana en la que se realizan
            eventos académicos con conferencistas invitados de primera línea, acompañados de
            eventos sociales. El Tec II participa en los eventos que organiza la comunidad Tecnológica
            como son los concursos de creatividad y ciencias básicas, donde se ha obtenido primeros
            y segundos lugares a nivel nacional. El Tecnológico ha participado y ha sido sede
            de importantes eventos deportivos a nivel local y regional, teniendo una destacada
            participación por parte de los alumnos.
        </p>
        <br />
        <h3>
            Nuestros directores.</h3>
        <br />
        <p>
            Desde su nacimiento, los rumbos del Instituto Tecnológico de Chihuahua II han sido
            guiados por diferentes etapas en un proceso continuo de crecimiento y búsqueda de
            la excelencia, la siguiente lista muestra los nombres de los diferentes directores
            que han contribuido con su guía a alcanzar tales metas:
        </p>
        <br />
        <dl>
            <dt>M.A.P. Gabriel Salazar Hernández.
                <dd>
                    Actual director desde el 9 de marzo de 2012</dd>
                <dt>Lic. José Carlos Díaz García. </dt>
                <dd>
                    10 de octubre de 2005 a 8 de marzo de 2012</dd>
                <dt>Ing. Martha Pando Carrasco </dt>
                <dd>
                    13 de febrero de 2004 a 10 de octubre de 2005</dd>
                <dt>Ing. Horacio Núñez Martínez </dt>
                <dd>
                    13 de agosto de 1999 a 13 de febrero de 2004</dd>
                <dt>Ing. Leonel Gildardo Loya Pacheco </dt>
                <dd>
                    14 de abril de 1999 a 13 de agosto de 1999</dd>
                <dt>Ing. Luis Guillermo Floriano Gavaldón </dt>
                <dd>
                    8 de marzo de 1993 a14 de abril de 1999</dd>
                <dt>Ing. Manuel Gallardo Rodríguez </dt>
                <dd>
                    8 de octubre de 1990 al 8 de marzo de 1993</dd>
                <dt>Ing. Abel Trejo González </dt>
                <dd>
                    17 de septiembre de 1990 al 8 de octubre de 1990</dd>
                <dt>Ing. José Elio De Anda Meza </dt>
                <dd>
                    11 de agosto de 1987 al 7 de septiembre de 1990</dd>
        </dl>
    </div>
</div>
