@{
    ViewBag.Title = "Logotipo";
}
<div class="container" style="text-align: justify;">
    <div class="row">
        <h2>
            Logotipo</h2>
        <div class="bthumb2">
            <img alt="" align="right" src="@Url.Content("~/img/logos/logo.jpg")" width="20%">
        </div>
        <p>
            Diseñado en el segundo semestre de 1991 por Mauricio Alcérreca Haza alumno de la
            carrera de I.S.C. de éste Instituto, quien resultara gandador del concurso al cual
            convocó la dirección de la institución.
        </p>
        <br />
        Los elementos son:
        <p>
            <b>Computadora</b>, la cual simboliza la tecnología de punta.
            <br />
            <b>Cabeza humana</b>, alude al hombre como ente de interacción.
            <br />
            <b>Engrane</b>, representa a la industria, de la cual es parte fundamental.
            <br />
        </p>
        <br />
        <br />
        <h3>
            Interpretación</h3>
        Se pretende conjuntar representativamente las carreras con que inició sus actividades
        el Instituto Tecnológico de Chihuahua II (Lic. en Informática, Ingeniería en Sistemas
        Computacionales, Ingeniería Industrial y la Lic. en Relaciones Industriales). La
        computadora como herramienta de las dos primeras, el engrane como elemento básico
        en la industria y como parte fundamental el hombre, cuya participación hace posible
        combinar los elementos a fin de satisfacer necesidades y buscar la excelencia.
        <br />
        <br />
        <h3>
            Nuestro lema</h3>
        "Enseñar para producir... Producir para crecer" Creado por Arnoldo Rocha López
    </div>
</div>
