@{
    ViewBag.Title = "Misión y Visión";
}
<div class="container" style="text-align: justify;">
    <div class="row">
        <h2>
            POL&Iacute;TICA DE CALIDAD</h2>
        <p>
            El Instituto Tecnológico de Chihuahua II establece el compromiso de implementar
            todos sus procesos, orientándolos hacia la satisfacción de sus clientes sustentada
            en la Calidad del Proceso Educativo, para cumplir con sus requisitos, mediante la
            eficacia de un Sistema de Gestión de la Calidad y de mejora continua, conforme a
            la norma ISO 9001:2008/NMX-CC-9001-IMNC-2008.
        </p>
        <br />
        <h2>
            MISIÓN</h2>
        La formación de profesionistas a través de personal capacitado con tecnología educativa
        y procesos de mejora continua que permitan su integración exitosa a los Sistemas
        Productivos Nacionales e Internacionales.
        <br />
        <br />
        <h2>
            VISIÓN</h2>
        Institución de educación superior de reconocido prestigio regional y nacional por
        la calidad de sus servicios educativos vinculados con su entorno social y productivo
        <br />
        <br />
        <h2>
            VALORES</h2>
        <ul>
            <li>Responsabilidad </li>
            <li>Respeto </li>
            <li>Puntualidad </li>
            <li>Honestidad </li>
            <li>Lealtad </li>
            <li>Limpieza </li>
            <li>Honradez</li>
            <li>Orden </li>
            <li>Cuidado del medio ambiente</li>
        </ul>
    </div>
</div>
