@{
    ViewBag.Title = "Actividades Extraescolares";
}
<div class="container">
    <h2>
        Subdireccion de Planeaci&oacute;n y Vinculaci&oacute;n</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Actividades Extraescolares</span></h3>
                        <p>
                            Actividades Extraescolares+ Planear, coordinar, controlar y evaluar los programas
                            de actividades culturales, deportivas y recreativas, que promuevan la formación
                            integral de los alumnos del instituto tecnológico, así como de la comunidad, de
                            conformidad con las normas y lineamientos establecidos por la Secretaria de Educación
                            Publica.
                        </p>
                        <br />
                        <p>
                            Coordinar la formación de equipos deportivos y grupos culturales, los cuales representen
                            a la institución en eventos regionales, estatales y nacionales.
                        </p>
                        <br />
                        <p>
                            Desarrollar programas orientados al estudio, conservación, expresión y difusión,
                            de las artes, artesanías, tradiciones, danzas, música, costumbres y espectáculos
                            populares.
                        </p>
                        <br />
                        <p>
                            Elaborar y aplicar el programa anual de actividades deportivas y recreativas del
                            instituto tecnológico.
                        </p>
                        <br />
                        <p>
                            Elaborar y aplicar el programa anual de actividades culturales y artísticas del
                            instituto tecnológico.
                        </p>
                        <br />
                        <p>
                            Organizar y promover eventos culturales deportivos y recreativos entre el instituto
                            tecnológico y otras instituciones de la región.
                        </p>
                        <br />
                        <p>
                            Promover la participación de la comunidad escolar en las actividades deportivas
                            y recreativas de la comunidad.
                        </p>
                        <br />
                        <p>
                            Organizar y controlar las celebraciones y eventos culturales y artísticos del instituto
                            tecnológico que se realicen dentro y fuera de sus instalaciones.
                        </p>
                        <br />
                        <p>
                            Organizar y controlar las celebraciones y eventos deportivos y recreativos del instituto
                            tecnológico que se realicen dentro y fuera de sus instalaciones.
                        </p>
                        <br />
                        <p>
                            Desarrollar y aplicar programas de investigación que propicien la identificación
                            de la comunidad escolar con los auténticos valores culturales.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Actividades Extraescolares/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Ing. Miguel Ángel Rodríguez Gallegos</h5>
                                                <div class="rmeta">
                                                    <h6>Jefe del Departamento</h6></div>
                                                <p>
                                                    El Departamento de Actividades Extraescolares se encuentra en el Gimnasio (Edif.
                                                    "N"), ubicado al lado Este de la Av. de las Industrias.
                                                    <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-13.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 113.
                                                    <br />
                                                    Horario de atención: Lunes a viernes de 9:00 a 16:00 hs.
                                                </p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Actividades Extraescolares/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
