@{
    ViewBag.Title = "Departamentos";
}

<div class="container">
    <h2>
        Subdirección de Servicios Administrativos</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Centro de Cómputo</span></h3>
                        <p>
                        Planear, Coordinar, controlar y evaluar las actividades de desarrollo de sistemas y servicios de cómputo.
                        </p>
                        <br />
                       
                        <p>
                        Organizar, Coordinar y controlar los servicios de almacenamiento, captura y procesamiento de información 
                         del instituto tecnológico.
                        </p>
                        <br />
                       
                        <p>
                        Establecer y mantener actualizados los sistemas de captación, validación y explotación de información 
                        del instituto tecnológico.
                        </p>
                        <br />
                       
                        <p>
                        Coordinar el análisis, diseño y programación de sistemas de los procesos aprobados.
                        </p>
                        <br />
                       
                        <p>
                        Controlar la operación y el mantenimiento del equipo de computo, así como la infraestructura del centro.
                        </p>
                        <br />
                       
                        <p>
                        Diseñar y mantener actualizados los sistemas de información del instituto tecnológico.
                        </p>
                        <br />
                       
                        <p>
                        Establecer y mantener relaciones e intercambios con Instituciones que manejen equipos de computo afines.
                        </p>
                        <br />
                       
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Centro de Cómputo/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Lic. Luis Armando Acosta Ramírez</h5>
                                                <div class="rmeta">
                                                    Jefe del Departamento</div>
                                                <p>
                                                    El departamento de Centro de Cómputo se encuentra localizado en la planta alta, 
                                                    en el lado norte del Laboratorio de Cómputo de este Instituto.
                                                    <br />
                                                    El acceso es por la Av. de las Industrias.<br />
                                                    Si desea comunicarse por telefono marque directamente: (01-614) 4-42-50-07.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 107.</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Centro de Cómputo/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
