@{
    ViewBag.Title = "Centro de Informacion";
}
<div class="container">
    <h2>
        Departamentos acad&eacute;micos</h2>
    <p class="big grey">
        Actividades que competen a los alumnos.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Centro de Informaci&oacute;n</span></h3>
                        <p>
                            Planear, coordinar, controlar y evaluar las actividades de organización bibliográfica,
                            servicios de usuarios y de servicios especializados.
                        </p>
                        <br />
                        <p>
                            Implantar y mantener actualizados los sistemas para la clasificación y catalogación
                            de los materiales del Centro de Información.
                        </p>
                        <br />
                        <p>
                            Desarrollar métodos para conocer las necesidades de información del personal docente
                            y de los investigadores para el desarrollo de nuevos proyectos.
                        </p>
                        <br />
                        <p>
                            Diseñar y aplicar mecanismos de préstamo y recuperación de la documentación y material
                            bibliográfico.
                        </p>
                        <br />
                        <p>
                            Orientar a los usuarios sobre las fuentes de información existentes y sobre el manejo
                            y cuidado del material bibliográfico.
                        </p>
                        <br />
                        <p>
                            Promover los servicios especializados entre el personal docente, los investigadores
                            y la comunidad escolar.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Ingeniería en Sistemas Computacionales/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Juan Perez Gonzalez</h5>
                                                <div class="rmeta">
                                                    Doctor en Ciencias</div>
                                                <p>
                                                    El Centro de Información se encuentra localizado en el edificio "A" de este Instituto.
                                                    El acceso es por la Av. de las Industrias.
                                                    <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-26.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 126. Fax: (01-614) 4-42-50-14
                                                    <br />
                                                    Horario de atención: Lunes a viernes de 7:00 a 21:00 hs.<br />
                                                    <!-- Social media icons -->
                                                    <div class="social">
                                                        <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                        </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                        </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Ingeniería en Sistemas Computacionales/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
