@{
    ViewBag.Title = "Ciencias Economico Administrativas";
}
<div class="container">
    <h2>
        Subdirección Acad&eacute;mica</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Ciencias Econ&oacute;mico Administrativas</span></h3>
                        <p>
                            El Departamento de Ciencias Económico Administrativas se encarga de planear, coordinar,
                            controlar y evaluar las actividades de docencia, investigación y vinculación en
                            las áreas correspondientes a las Ciencias Económico Administrativas en el Instituto.
                        </p>
                        <br />
                        <p>
                            Coordina con las División de Estudios Profesionales la aplicación de los programas
                            de estudio, y con el Departamento de Desarrollo Académico los materiales y apoyos
                            didácticos de las asignaturas correspondientes a las áreas de Ciencias Económico
                            Administrativas.
                        </p>
                        <br />
                        <p>
                            Coordina además con la División de Estudios Profesionales y con el Departamento
                            de Desarrollo Académico, la formulación y aplicación de técnicas e instrumentos
                            para la evaluación de las asignaturas correspondientes a las Ciencias Económico
                            Administrativas.
                        </p>
                        <br />
                        <p>
                            Coordina los proyectos de investigación educativa, científica y tecnológica relacionados
                            con la vinculación del Instituto con el sector productivo de bienes y servicios
                            de la región y controla su desarrollo.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Ciencias Económico Administrativas/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Lic. Olga Rebeca Castillo Cruz</h5>
                                                <div class="rmeta">
                                                    Jefa del Departamento</div>
                                                <p>
                                                    El Departamento de Ciencias Economico Administrativas se encuentra localizado al
                                                    lado oriente de la planta alta del edificio "M" de este Instituto.
                                                    <br />
                                                    El acceso es por la Av. Homero.<br />
                                                    Si desea comunicarse por teléfono marque directamente: (01-614) 4-42-50-29.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 129.</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Ciencias Económico Administrativas/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
