@{
    ViewBag.Title = "ComunicacionYDifusion";
}

<div class="container">
    <h2>
        Subdirección de Planeación y Vinculación</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Comunicación y Difusión</span></h3>
                        <p>
                        Planear, Coordinar, controlar y evaluar las actividades de difusión escrita, 
                        audiovisual y de aspecto editorial, de conformidad con la normatividad establecida 
                        por la Secretaria de Educación Publica.
                        </p>
                        <br />
                        <p>
                        Organizar, controlar y evaluar los programas y actividades tendientes a promover y difundir 
                        las políticas, objetivos y productos académicos del instituto tecnológico tanto al interior como 
                        al exterior del mismo, en coordinación con las áreas académicas correspondientes.
                        </p>
                        <br /><p>
                        Coordinar la atención de visitantes al instituto tecnológico.
                        </p>
                        <br /><p>
                        Representar a la Dirección del Instituto Tecnológico en los actos y comisiones oficiales que ésta le encomiende.
                        </p>
                        <br /><p>
                        Elaborar y difundir boletines de radio, prensa y televisión, así como circulares y folletos de información 
                        relativos a las actividades que realiza el instituto tecnológico.
                        </p>
                        <br /><p>
                        Apoyar a las áreas del instituto tecnológico en la impresión de periódicos, folletos, boletines, revistas, 
                        trabajos científicos, culturales y artísticos que se requieran para el logro de los objetivos del proceso educativo.
                        </p>
                        <br /><p>
                        Difundir los actos sociales, cívicos y culturales entre el personal del instituto tecnológico y comunidad en general.
                        </p>
                        
                        <br />

                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Comunicación y Difusión/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Lic. Gustavo Flores Morales</h5>
                                                <div class="rmeta">
                                                    <h6>Encargado del Departamento</h6></div>
                                                <p>
                                                    El departamento de Comunicación y Difusión se encuentra localizado en el lado norte
                                                    del edificio "R" de este Instituto.
                                                    <br />
                                                    El acceso es tanto por la Av. de las Industrias como por la Av. Homero. <br />
                                                    Si desea comunicarse por telefono marque directamente: (01-614) 4-42-50-16.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 116.</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Comunicación y Difusión/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>

