@{
    ViewBag.Title = "Desarrollo Acad&eacute;mico";
}
<div class="container">
    <h2>
        Subdirección Acad&eacute;mica</h2>
    <p class="big grey">
       Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Desarrollo Acad&eacute;mico</span></h3>
                        <p>Planear, coordinar, controlar y evaluar las actividades que permitan el desarrollo académico del personal docente, 
                           de conformidad con las normas y lineamientos establecidos por la Secretaria de Educación Pública.                        
                        </p>
                        <br />
                        <p>Difundir los lineamientos teórico-metodológicos para la planeación, desarrollo y evaluación curriculares, 
                           establecidos por la Dirección General de Institutos Tecnológicos y otros órganos competentes.
                        </p>
                        <br />
                        <p>Establecer procesos de investigación y desarrollo académico en los ámbitos de formaci6n docente, 
                           comunicación y orientación educativa.
                        </p>
                        <br />
                        <p>Apoyar a las divisiones de Estudios Profesionales y de Posgrado e Investigación en la elaboración de propuestas 
                           de planes de estudio y programas, según el caso, de conformidad con los lineamientos establecidos en la materia.
                        </p>
                        <br />
                        <p>Coordinar la investigación, diseño y utilización de los materiales y auxiliares didácticos, requeridos para el
                           desarrollo del proceso enseñanza-aprendizaje.
                        </p>
                        <br />
                        <p>Participar en la elaboración de convenios relacionados con la actualización y superación del personal docente
                           del instituto tecnológico.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Desarrollo Académico/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Ing. Ma. Elena Martínez Castellanos</h5>
                                                <div class="rmeta">
                                                    Jefa del Departamento</div>
                                                <p>
                                                    El Departamento de Desarrollo Académico se encuentra localizado en el edificio "R" 
                                                    de este Instituto.
                                                    <br />
                                                    El acceso es tanto por la Av. Homero como por la Av. de las Industrias, ya que el edificio "R"
                                                    se encuentra al lado de la carretera que une ambas avenidas en el interior de este Instituto.
                                                    <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-17.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 117.</p>
                                                    <br />
                                                    <!-- Social media icons -->
                                                    <div class="social">
                                                        <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                        </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                        </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Division de Estudios Profesionales/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
