@{
    ViewBag.Title = "Departamentos";
}
<div class="container">
    <h2>
        Dirección</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        
                        <p style="font-weight: bolder">
                         Algunas de las actividades de la Dirección del Instituto Tecnológico de Chihuahua II son las siguientes:
                        </p>
                        <br />    
                        <p>
                        Planea, dirige, controla y evalúa las actividades de planeacion, vinculación academicas y administrativas del Instituto Tecnológico de Chihuahua II (ITCH II) de conformidad con los objetivos, políticas y lineacmientos establecidos por la Secretaría de Educación Pública.
                        </p>
                        <br />                         
                        <p>
                        Propone al Tecnológico Nacional de México, la organización del ITCH II, así como modificaciones a los sistemas y procedimientos que coadyuven al cumplimiento de los objetivos del mismo.
                        </p>
                        <br />
                        <p>
                        Dirige y controla la integración y administración de los recursos humanos, financieros y materiales del ITCH II, de conformidad con la normatividad vigente.
                        </p>
                        <br />
                        <p>
                        Dirige y controla la aplicación de los planes y programas del estudio, apoyos didácticos y técnicas e instrumentos para la evaluación del aprendizaje en el ITCH II conforme a los lineamientos técnicos y metodológicos establecidos por el Tecnológico Nacional de México.
                        </p>                        
                        <br />
                        <p>
                        Dirige y controla el desarrollo de los proyectos de investigación científica y tecnológica en el ITCH II de acuerdo a los lineamientos técnicos y metodológicos establecidos por el Tecnológico Nacional de México.
                        </p>
                        <br />
                        <p>
                        Promueve y dirige el desarrollo de las actividades de vinculacion del ITCH II con el sector productivo de bienes y servicios de la region.
                        </p>
                        <br />
                        <p>
                        Dirige y supervisa el sistema de control escolar del ITCH II, conforme a las normas y procedimientos establecidos.
                        </p>
                        <br />
                        <p>
                        Dirige y controla la prestación de servicios asistenciales del ITCH II de acuerdo con los lineamientos establecidos.
                        </p>
                        <br />
                        <p>
                        Promueve y dirige el desarrollo de las actividades cívicas, sociales, culturales, deportivas, recreativas y de vinculación del ITCH II.
                        </p>
                        <br />
                        <p>
                        Informa del funcionamiento del ITCH II al Tecnológico Nacional de México en los terminos y plazos establecidos.
                        </p>
                        <br />
                        <p>Promover la difusión de las normas y lineamientos que regulen el funcionamiento del instituto tecnológico en las áreas del mismo y vigilar su aplicación.
                        </p>
                        <br /><br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Dirección/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    M.A.P. Gabriel Salazar Hernández</h5>
                                                <div class="rmeta">
                                                    <h6>Director</h6></div>
                                                <p>
                                                    La Dirección se encuentra localizada en la planta alta del edificio administrativo
                                                    <br />
                                                    El acceso es por la Av. de las Industrias. <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-00.<br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 100</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Dirección/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>

