@{
    ViewBag.Title = "Division de Estudios Profesionales";
}
<div class="container">
    <h2>
        Departamentos acad&eacute;micos</h2>
    <p class="big grey">
        Actividades que competen a los alumnos.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Division de Estudios Profesionales</span></h3>
                        <p>
                            Planear, Coordinar, controlar y evaluar las carreras que se impartan en el instituto
                            tecnológico, así como las actividades para el apoyo a la titulación, desarrollo
                            curricular y atención a los alumnos de conformidad con las normas y lineamientos
                            emitidos por la Secretaria de Educación Publica.
                        </p>
                        <br />
                        <p>
                            Organizar, coordinar, controlar y evaluar la atención de alumnos relacionada con
                            cargas, procesos y seguimiento Académico-administrativo de conformidad con los procedimientos
                            establecidos.
                        </p>
                        <br />
                        <p>
                            Programar, desarrollar y coordinar las actividades de informaci6n, integración de
                            documentos e impartición de cursos para el apoyo a la titulación de los alumnos
                            del instituto tecnológico.
                        </p>
                        <br />
                        <p>
                            Orientar a los alumnos sobre las diferentes opciones de titulación y los requisitos
                            para la integración de sus expedientes.
                        </p>
                        <br />
                        <p>
                            Asesorar a los alumnos sobre la impartición de cursos, asesorías académicas y revisión
                            de trabajos para titulación, en coordinación con el departamento académico correspondiente.
                        </p>
                        <br />
                        <p>
                            Informar a los alumnos sobre la integración del jurado para efectos de titulación.
                        </p>
                        <br />
                        <p>
                            Integrar y controlar los expedientes de los aspirantes a titulación y tramitarlos
                            una vez concluido el proceso.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Ingeniería en Sistemas Computacionales/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Juan Perez Gonzalez</h5>
                                                <div class="rmeta">
                                                    Doctor en Ciencias</div>
                                                <p>
                                                    La División de Estudios Profesionales se encuentra localizada en el edificio "R"
                                                    de este Instituto.
                                                    <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-17.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 117. Fax: (01-614) 4-42-50-14
                                                    <br />
                                                    Horario de atención: Lunes a viernes de 8:00 a 16:00 hs.
                                                    <!-- Social media icons -->
                                                    <div class="social">
                                                        <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                        </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                        </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Ingeniería en Sistemas Computacionales/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
