@{
    ViewBag.Title = "Gestion Tecnologica y Vinculacion";
}
<div class="container">
    <h2>
        Subdireccion de Planeaci&oacute;n y Vinculaci&oacute;n</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Gestion Tecnol&oacute;gica y Vinculaci&oacute;n</span></h3>
                        <p>
                            Planear, coordinar, controlar y evaluar las actividades relacionadas con las prácticas
                            y promoción profesional, servicio social y desarrollo comunitario, así como las
                            relacionadas con la asesoría externa que brinda el instituto tecnológico de conformidad
                            con las normas establecidas por la Secretaria de Educación Publica.
                        </p>
                        <br />
                        <p>
                            Coordinar la elaboración de programas de vinculación con el sector productivo generados
                            por las diversas áreas del instituto tecnológico.
                        </p>
                        <br />
                        <p>
                            Organizar y coordinar la realización de practicas profesionales y servicios social
                            del alumnado del instituto tecnológico, en coordinación con las áreas correspondientes.
                        </p>
                        <br />
                        <p>
                            Elaborar y aplicar programas de prácticas profesionales, así como de promoción profesional
                            y seguimiento de egresados de los alumnos y exalumnos del instituto tecnológico.
                        </p>
                        <br />
                        <p>
                            Orientar, asesorar y controlar al alumnado del instituto tecnológico en la realización
                            de las prácticas profesionales y organizar las visitas de alumnos a las empresas.
                        </p>
                        <br />
                        <p>
                            Elaborar y aplicar programas para la prestación del servicio social de los alumnos
                            del instituto tecnológico, así como para el desarrollo de la comunidad.
                        </p>
                        <br />
                        <p>
                            Orientar y asesorar al alumnado del instituto tecnológico en la prestación del servicio
                            social.
                        </p>
                        <br />
                        <p>
                            Elaborar y aplicar programas de servicios externos del instituto tecnológico.
                        </p>
                        <br />
                        <p>
                            Proporcionar, gestionar y controlar el trámite de registros de propiedad industrial,
                            patentes y certificados de invención para sus transferencias al sector productivo.
                        </p>
                        <br />
                        <p>
                            Formular y realizar estudios de mercado ocupacional que contribuyan a la promoción
                            profesional de los egresados.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Gestión Tecnológica y Vinculación/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    L.S.C.A. Elva Margarita Ramírez Chong</h5>
                                                <div class="rmeta">
                                                    <h6>Jefa del Departamento</h6></div>
                                                <p>
                                                    El departamento de Gestión Tecnológica y Vinculación se encuentra localizado en el lado norte del edificio "R" de este Instituto.
                                                    <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-08.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 108.
                                                    <br />
                                                    Horario de atención para trámites:<br />                                                    
                                                    Residencias profesionales: Lunes 8:00 a 16:00 hs; Martes a viernes de 8:00 a 15:00 hs.<br />
                                                    Servicio social: Lunes, Martes, Jueves y viernes de 8:00 a 15:00 hs; Miércoles de 8:00 a 16:00 hs.<br />
                                                    Horario de atencion para entrega y recepción de documentos (no para trámites): Lunes a viernes de 8:00 a 15:00 hs.<br />
                                                    <!-- Social media icons -->
                                                    <div class="social">
                                                        <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                        </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                        </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Gestión Tecnológica y Vinculación/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
