@{
    ViewBag.Title = "Laboratorios";
}
<div class="container">
    <h2>
        Departamentos acad&eacute;micos</h2>
    <p class="big grey">
        Actividades que competen a los alumnos.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Laboratorios</span></h3>
                        <p>
                            Coordinar las actividades del laboratorio, así como administrar el empleo de los
                            recursos en el desarrollo de los trabajos que ahí se realicen.
                        </p>
                        <br />
                        <p>
                            Proporcionar servicios de apoyo en la preparación de prácticas a profesores y alumnos
                            del instituto tecnológico.
                        </p>
                        <br />
                        <p>
                            Llevar a cabo el seguimiento y control de prácticas, trabajos y materiales utilizados
                            en el laboratorio.
                        </p>
                        <br />
                        <p>
                            Llevar el control de préstamo de equipos, herramientas y materiales del laboratorio.
                        </p>
                        <br />
                        <p>
                            Proporcionar, previa autorización las substancias y utensilios necesarios para la
                            realización de las prácticas correspondientes.
                        </p>
                        <br />
                        <p>
                            Vigilar el buen uso y funcionamiento del material y equipo de laboratorio.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Ingeniería en Sistemas Computacionales/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Juan Perez Gonzalez</h5>
                                                <div class="rmeta">
                                                    Doctor en Ciencias</div>
                                                <b>Laboratorio de Métodos</b>
                                                <p>
                                                    Marque directamente: (01-614) 4-42-50-33. A través de conmutador: (01-614) 4-42-50-00
                                                    ext. 133. Fax: (01-614) 4-42-50-14
                                                    <br />
                                                    Horario de atención: Lunes a viernes de 10:00 a 13:00, 15:00 a 16:00 y 17:00 a 18:00
                                                    hs.
                                                </p>
                                                <br />
                                                <b>Laboratorio de Cómputo</b>
                                                <p>
                                                    Marque directamente: (01-614) 4-42-50-36. A través de conmutador: (01-614) 4-42-50-00
                                                    ext. 136. Fax: (01-614) 4-42-50-14
                                                    <br />
                                                    Horario de atención: Lunes a viernes de 7:00 a 20:00 hs.
                                                </p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Ingeniería en Sistemas Computacionales/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
