@{
    ViewBag.Title = "Departamentos";
}

<div class="container">
    <h2>
        Subdirección de Servicios Administrativos</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Mantenimiento de Equipo</span></h3>
                        <p>
                        Planea, coordina, controla y evalúa las actividades relacionadas con el mantenimiento preventivo y correctivo de la maquinaria y equipo del Instituto Tecnológico de Chihuahua II (ITCH II), conforme a las normas y lineamientos establecidos por el Tecnológico Nacional de México.
                        </p>
                        <br />
                        <p>
                        Determina las necesidades de recursos para la prestación del servicio de mantenimiento preventivo y correctivo a la maquinaria y equipo del ITCH II y las presenta a la Subdirección de Servicios Administrativos para lo procedente.
                        </p>
                        <br />
                         <p>
                        Participa en la elaboración de los programas de mantenimiento preventivo y correctivo de maquinaria, equipo de talleres y laboratorios del ITCH II, conforme a las normas y lineamientos establecidos.
                        </p>
                        <br />
                         <p>
                        Coordina la operación de los procesos de mantenimiento preventivo y correctivo a la maquinaria y equipo del ITCH II, conforme a las normas y lineamientos establecidos.
                        </p>
                        <br />
                         <p>
                        Coordina los procesos de rehabilitación, instalación y montaje de maquinaria y equipo de los talleres y laboratorios del ITCH II, los de fabricación de refacciones, accesorios, prototipos y equipo didáctico, conforme a las normas y lineamientos establecidos.
                        </p>
                        <br />
                        <p>
                        Coordina la realización de investigaciones de nuevos métodos, técnicas y procedimientos relativos a mantenimiento de equipo y maquinaria, así como de los estudios de factibilidad para su aplicación.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Mtto de Equipo/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Ing. Fernando de la Rosa Fierro</h5>
                                                <div class="rmeta">
                                                    <h6>Jefe del Departamento</h6></div>
                                                <p>
                                                    El departamento de Mantenimiento de Equipo se encuentra localizado en el lado sur 
                                                    del estacionamiento que se encuentra a la entrada por la Av. de las Industrias.
                                                    <br />
                                                    El acceso es por la Av. de las Industrias.
                                                    <br />
                                                     <!--Si desea comunicarse por telefono marque directamente: (01-614) 4-42-50-22.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 122.</p>-->
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Mtto de Equipo/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
