@{
    ViewBag.Title = "PlaneacionProgramYPresup";
}

<div class="container">
    <h2>
        Subdirección de Planeación y Vinculación</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Planeación Programación y Presupuestación</span></h3>
                        <p>
                         Planear, coordinar, controlar y evaluar estructuras orgánicas y educativa, 
                         anteproyecto de presupuesto, programa operativo anual y lo relacionado a la construcción y 
                         equipamiento del instituto tecnológico, de conformidad con las normas y lineamientos establecidos 
                         por la Secretaría de Educación Pública.  
                        </p>
                        <br />
                        <p>
                          Coordinar la elaboración de los programas operativos anuales de las áreas correspondientes, 
                          integrar el programa operativo anual del instituto tecnológico y presentarlo a la Subdirección 
                          de Planeación y Vinculación para lo conducente. 
                        </p>
                        <br /><p>
                          Integrar y proponer las políticas y objetivos del insituto tecnológico conforme a las disposiciones 
                          dictadas por la Dirección General de Institutos Tecnológicos. 
                        </p>
                        <br /><p>
                        Integrar los programas de desarrollo institucional a mediano y largo plazos, de acuerdo a la normatividad 
                        vigente y verificar su cumplimento.   
                        </p>
                        <br /><p>
                        Analizar las modificaciones presupuestales que soliciten las unidades organicas del instituto tecnológico y 
                        proponer a la Subdirección de Planeación y Vinculación la gestión de las que procedan.   
                        </p>
                        <br /><p>
                        Planear, organizar, controlar y evaluar la realización de estudios de construcción y equipamiento de espacios 
                        educativos según los lineamientos establecidos por la Secretaría de Educación Pública.   
                        </p>
                        <br /><p>
                        Verificar el cumplimiento de la estructura orgánico – funcional del instituto tecnológico autorizada e 
                        integrar las propuestas de modificación a la misma.
                        </p>
                        <br /><p>
                        Difundir los manuales administrativos que regulan la organización y funcionamiento del insituto tecnológico.    
                        </p>
                        <br /><p>
                        Coordinar la evaluación presupuestaria del insituto tecnológico con base en los lineameintos establecidos por 
                        la Secretaría de Educación Pública.   
                        </p>
                        <br /><p>
                        Coordinar la aplicación del modelo de evaluación institucional de acuerdo a las normas y procedimientos 
                        establecidos por la Secretaría de Educación Pública.   
                        </p>
                        <br /><p>
                        Coordinar las acciones de evaluación institucional, integrar los resultados de la misma y presentarlos a la 
                        Subdirección de Planeación y Vinculación para lo conducente.   
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Planeación Programación y Presupuestación/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Dra. Luisa Quiñónez Montenegro</h5>
                                                <div class="rmeta">
                                                    Jefa del Departamento</div>
                                                <p>
                                                    El departamento de Planeación Programación y Presupuestación se encuentra localizado en la planta baja 
                                                    del edificio administrativo de este Instituto.
                                                    <br />
                                                    El acceso es por la Av. de las Industrias.
                                                    <br />Si desea comunicarse por telefono marque directamente: (01-614) 4-42-50-11.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 111.</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Planeación Programación y Presupuestación/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>

