@{
    ViewBag.Title = "RecursosHumanos";
}

<div class="container">
    <h2>
        Subdirección de Servicios Administrativos</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Recursos Humanos</span></h3>
                        <p>
                         Planear, Coordinar, controlar y evaluar las actividades relacionadas con la administración de 
                         personal del instituto tecnológico así como el pago de sus remuneraciones, conforme a las normas y 
                         lineamientos establecidos por la Secretaria de Educación Pública.
                        </p>
                        <br />
                        <p>
                         Determinar las necesidades de recursos humanos del instituto tecnológico y presentarlas a la 
                         Subdirección de Servicios Administrativos para lo procedente.   
                        </p>
                        <br /><p>
                        Coordinar la operación de los procesos de selección, contratación y desarrollo de personal conforme 
                        a las normas y lineamientos establecidos.    
                        </p>
                        <br /><p>
                         Coordinar los procesos derivados de las acciones del pago de remuneraciones del personal del 
                         instituto tecnológico conforme a las normas y lineamientos establecidos.   
                        </p>
                        <br /><p>
                         Coordinar los procesos derivados de las acciones del pago de remuneraciones del personal del 
                         instituto tecnológico conforme a las normas y lineamientos establecidos.   
                        </p>
                       
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Recursos Humanos/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    M.A.R.H. Amalia Delia Medina Tarín</h5>
                                                <div class="rmeta">
                                                    <h6>Jefa del Departamento</h6></div>
                                                <p>
                                                    El departamento de Recursos Humanos se encuentra localizado en la planta baja del 
                                                    edificio administrativo de este Instituto.
                                                    <br />
                                                    El acceso es por la Av. de las Industrias.
                                                    <br />
                                                    Si desea comunicarse por telefono marque directamente: (01-614) 4-42-50-10.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 110.</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Recursos Humanos/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
