@{
    ViewBag.Title = "Departamentos";
}

<div class="container">
    <h2>
        Subdirección de Servicios Administrativos</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Recursos Materiales y Servicios</span></h3>
                        <p>
                        Planear, coordinar, controlar y evaluar las actividades relacionadas con la administración de los 
                        recursos materiales así como la prestación de los servicios generales del instituto tecnológico conforme 
                        a las normas y lineamientos establecidos por la Secretaría de Educación Pública. 
                        </p>
                        <br />
                       
                         <p>
                        Determinar las necesidades de recursos materiales y servicios generales del instituto tecnológico y 
                        presentarlas a la Subdirección de Servicios Administrativos para lo procedente.
                        </p>
                        <br />
                         <p>
                        Coordinar la operación de los procesos de almacenamiento, inventarios y del control de bienes 
                        muebles del instituto tecnológico, conforme a las normas y lineamientos establecidos.
                        </p>
                        <br />
                         <p>
                        Coordinar los procesos derivados de la adquisición y compra de bienes así como los relacionados 
                        a la prestación de los "servicios generales del instituto tecnológico, conforme a las normas y 
                        lineamientos establecidos.
                        </p>
                        <br />
                         <p>
                        Coordinar la realización de investigaciones de nuevos métodos, técnicas y procedimientos relativos 
                        a la administración de recursos materiales y servicios, así como de los estudios de factibilidad para 
                        su aplicación.
                        </p>
                        <br />
                        
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Recursos Materiales y Servicios/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    L.R.I. Manuel Ricardo Campos Sandoval</h5>
                                                <div class="rmeta">
                                                    Jefe del Departamento</div>
                                                <p>
                                                    El departamento de Recursos Materiales y Servicios se encuentra localizado en el lado sur 
                                                    del estacionamiento que se encuentra a la entrada por la Av. de las Industrias.
                                                    <br />
                                                    El acceso es por la Av. de las Industrias.
                                                    <br />
                                                     Si desea comunicarse por telefono marque directamente: (01-614) 4-42-50-20.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 120.</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Recursos Materiales y Servicios/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
