@{
    ViewBag.Title = "Recursos Financieros";
}
<div class="container">
    <h2>
        Subdireccion de Servicios Administrativos</h2>
    <p class="big grey">
        Intituto Tecnol&oacute;gico de Chihuahua II.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Recursos Financieros</span></h3>
                        <p>
                            Planear, coordinar, controlar y evaluar las actividades relacionadas con la administración
                            de los recursos financieros del instituto tecnológico conforme a las normas y lineamientos
                            establecidos por la Secretaria de Educación Pública.
                        </p>
                        <br />
                        <p>
                            Coordinar los procesos derivados del control de ingresos propios y del presupuesto
                            del instituto tecnológico, conforme a las normas y lineamientos establecidos.
                        </p>
                        <br />
                        <p>
                            Brindar el servicio de atención en ventanilla para el cobro de los servicios o documentos
                            que se expiden en el instituto.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Recursos Financieros/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    M.F. Cynthia Paola Aranda Gómez</h5>
                                                <div class="rmeta">
                                                    Jefa del Departamento</div>
                                                <p>
                                                    El departamento de Recursos Financieros se encuentra localizado en la planta baja
                                                    del edificio "H" de este Instituto. El acceso es por la Av. de las Industrias.
                                                    <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-19.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 119.
                                                    <br />
                                                    Horario de atención: Lunes a viernes de 8:00 a 18:00 hs.<br />
                                                    <!-- Social media icons -->
                                                    <div class="social">
                                                        <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                        </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                        </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Recursos Financieros/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
