@{
    ViewBag.Title = "Servicios Escolares";
}
<div class="container">
    <h2>
        Departamentos acad&eacute;micos</h2>
    <p class="big grey">
        Actividades que competen a los alumnos.</p>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Servicios Escolares</span></h3>
                        <p>
                            Planear, coordinar, controlar y evaluar las actividades relacionadas con la prestación
                            de los servicios escolares a los alumnos del instituto tecnológico, conforme a las
                            normas y lineamientos establecidos por la Secretaría de Educación Publica.
                        </p>
                        <br />
                        <p>
                            Coordinar la operación de los procesos de inscripción, reinscripción, cambios y
                            traslados de los alumnos del instituto tecnológico, conforme a las normas y lineamientos
                            establecidos.
                        </p>
                        <br />
                        <p>
                            Coordinar los procesos derivados de las acciones de regularización, acreditación,
                            certificación y titulación de los alumnos del instituto tecnológico, conforme a
                            las normas y lineamientos establecidos.
                        </p>
                        <br />
                        <p>
                            Coordinar y controlar los trámites de convalidación, revisión, revalidación y equivalencia
                            de estudios de los alumnos del instituto tecnológico así como la expedición de constancias
                            de estudios conforme a las normas y lineamientos establecidos.
                        </p>
                        <br />
                        <p>
                            Llevar el seguimiento de la escolaridad de los educandos de acuerdo con las normas
                            y procedimientos establecidos por instancias correspondientes.
                        </p>
                        <br />
                        <p>
                            Gestionar en coordinación con la oficina de servicios estudiantiles, cambios de
                            adscripción, de carrera, convalidación o equivalencia de estudios, exámenes especiales
                            y otros.
                        </p>
                        <br />
                        <p>
                            Tramitar y gestionar exámenes y documentación relacionados con los estudios realizados
                            por el alumnado.
                        </p>
                        <br />
                        <p>
                            Proporcionar los servicios de información y gestión para la obtención de becas,
                            asesoría psicológica y atención médica a los alumnos del instituto tecnológico.
                        </p>
                        <br />
                        <p>
                            Promover la obtención de becas y orientar a los aspirantes a becarios sobre los
                            requisitos y obligaciones para el otorgamiento de éstas.
                        </p>
                        <br />
                        <p>
                            Realizar campañas de medicina preventiva y proporcionar atención médica a los alumnos
                            cuando estos así lo requieran.
                        </p>
                        <br />
                        <p>
                            Tramitar y gestionar los títulos y cédulas profesionales de los egresados del instituto.
                        </p>
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Ingeniería en Sistemas Computacionales/ -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Juan Perez Gonzalez</h5>
                                                <div class="rmeta">
                                                    Doctor en Ciencias</div>
                                                <p>
                                                    El departamento de Servicios Escolaress se encuentra localizado en la planta baja
                                                    del edificio administrativo "H" de este Instituto.
                                                    <br />
                                                    El acceso es por la Av. de las Industrias. Si desea comunicarse por teléfono, marque
                                                    directamente: (01-614) 4-42-50-09.
                                                    <br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 109. Fax: (01-614) 4-42-50-14.
                                                    <!-- Social media icons -->
                                                    <div class="social">
                                                        <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                        </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                        </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Ingeniería en Sistemas Computacionales/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
