@{
    ViewBag.Title = "GradMinuta";
}

<h2 align="center">Graduación del 19 de Marzo de 2015</h2>

<div class="container">
    <h3 align="center">Reuniones Previas</h3>
    <p class="big grey" align="center">
        Minutas</p>
    <hr />
    <br />
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: large; color: #FF0000;">CERTIFICADOS: Por este medio se avisará la fecha en la que 
    podrán pasar a firmarlos.</p><br /><br />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Segunda Reunión - 21 de enero de 2015</span></h3>
                       <p style="text-align: justify">
MINUTA SEGUNDA REUNIÓN<br />
GRADUACIÓN 19 DE MARZO 2015<br /><br />

1.	La reunión de Graduación se efectuó a las 17:00 hrs. del 21 de enero de 2015; se dio a conocer que la siguiente reunión y última  reunión para la graduación del día 25 de febrero  de 2015, se llevará a cabo a las 17:00 hrs.  donde se hará entrega de invitaciones para la ceremonia (invitaciones proporcionadas por el Tecnológico (tres) y las que algunos alumnos solicitaron como extras).<br /><br />

2.	La ceremonia de Graduación se efectuara el 19 de marzo de 2015  en  el Gimnasio de nuestro Instituto en dos horarios diferentes: a las 16:00 hrs. las carreras de: Arquitectura Licenciatura en Administración e Ingeniería Informática. <br />
A las 19:00 hrs. Licenciatura en Informática, Ingeniería Industrial e Ingeniería en gestión Empresarial, Ingeniería en Sistemas Computacionales.<br /> <br />


3.	Todas las carreras ya seleccionaron como quiere que se llame su generación quedando de la siguiente manera:<br />
•	Ingeniería industrial: Dr Mario Antonio Makita Aguilar<br />
•	Ingeniería en Sistemas Computacionales: MC Martina Isela Mendoza Flores<br />
•	Licenciatura en Administracion: MP Mario Bernal Amezcua<br />
•	Arquitectura: Arq. Jesús Komaba Quezada<br />
•	Ingeniería Informática: MISC Jesús Arturo Alvarado Granadino<br />
•	Ingeniería en Gestión Empresarial: Dr. Jesús Humberto Cuevas Acosta<br />
•	Licenciatura en Informática: MC María Eugenia Cardona Muñoz<br /><br />

4.	Los alumnos que darán el mensaje a nombre de sus compañeros de generación son:<br />
Los resultados estarán disponibles hasta el 28 de enero 2015<br /><br />
5.	La toma de fotografía de generación se realizara el día 1º  de febrero del año en curso en la Quinta Gameros ubicada en paseo Bolívar y calle cuarta (colonia centro) esta se desarrollará de acuerdo al siguiente horario:<br />
•	7:30 horas 	Arquitectura <br />
•	8:00 horas	Licenciatura en Administración <br />
•	8:30 horas	Ingeniería en Sistemas Computacionales<br />
•	9:00 horas	Ingeniería Industrial<br />
•	9:30 horas	Ingeniería en gestión Empresarial<br />
•	10:00 horas 	Licenciatura en Informática<br />
•	10:30 Horas	Ingeniería Informática<br /><br />
Recomendaciones para la toma de generación:<br />
1.	Ser puntuales<br />
2.	Mujeres: vestir con blusa blanca con cuello tipo camisa, pantalón oscuro de vestir, zapato color negro de vestir, el maquillaje y el cabello al gusto.<br />
3.	Hombres: camisa color claro, corbata al gusto, pantalón oscuro y zapatos de vestir oscuro.<br />
4.	Asistir únicamente graduado.<br />

                        </p>
                        <br /><br />
                        <h3>
                            <span class="color">Primera Reunión - 10 de diciembre de 2014</span></h3>
                        <p style="text-align: justify">
                        MINUTA PRIMERA REUNION<br />
GRADUACION 19 DE MARZO 2015<br /><br />

En la primera reunión de Graduación que se efectuó el 10 de diciembre de 2014 a las 17:00 horas en el Audiovisual del edif. B, con motivo de la Ceremonia de Graduación que se llevará a cabo el 19 de marzo de 2015, se acordó que las siguientes reuniones se llevaran a cabo  de la siguiente manera:<br /><br />

21 de enero de 2015 a las 17:00 hs en el Audiovisual B<br />
*25 de febrero de 2015 a las 17:00 hs en el Audiovisual B<br />
*ENTREGA DE INVITACIONES.<br /><br />

1.	La ceremonia de Graduación se efectuara el 19 de marzo de 2015 en  el Gimnasio de nuestro Instituto en dos horarios diferentes: a las 16:00 hrs. las carreras de: Arquitectura, Ingeniería en Informática y Licenciatura en Administración.<br />
A las 19:00 hrs. Licenciatura en Informática, Ingeniería en Gestión Empresarial, Ingeniería Industrial e Ingeniería en Sistemas Computacionales.<br /><br />

2.	Se acordó por los alumnos utilizar toga y birrete respetando los colores de tecnológico de  Chihuahua II (negro,  guinda y oro) el costo de dichos implementos será de $300.00 pesos que se pagara un 50% al momento de tomarse medidas (16 y 17 de diciembre en un horario de 09:00 a 14:00 y 15:00 a 20:00 horas en el aula del edificio “B”).<br /><br />

3.	La toma de fotografías para los documentos oficiales se tomaran en el edificio “B” previa cita que podrá realizarse el día 15 de diciembre en el Audiovisual del edificio “B”, donde se le indicara el día y la hora que se tomen estas (16 y 17 de diciembre en un horario de 09:00 a 14:00 y 15:00 a 20:00 horas en una de las aulas del edificio “B”).  El costo será de $315.00 pesos.<br /><br />

Mujeres. Traer blusa color blanco tipo camisa, con aretes medianos a pequeños, maquillaje suave sin brillo en los labios, cabello suelto con frente y oídos descubiertos, demás detalles al momento de la toma<br />

Hombres. Camisa clara o blanca saco color claro y corbata, bigote recortado que se pueda apreciar el labio superior, no barba, cabello corto, demás detalles al momento de la toma. (si no tienen saco y corbata ahí se les facilita).<br /><br />

La fotografía de Generación se tomara el domingo 01 de febrero del 2015 en las próxima reunión se informará el lugar y horario exacto.<br /><br />

4.	El departamento de Servicios Escolares  informa  que solo recibirá las fotografías todo el mes de enero 2015; el departamento da a conocer que deberá pasar a pagar 100.00 pesos en el Depto. de recursos Financieros por derecho de emisión del Certificado de  estudios y pasar a firmar a Servicios Escolares.<br /><br />

5.	El Tecnológico proporcionara 3 invitaciones por graduado, si el alumno a graduar requiere más, estas tendrán un costo de $29.00, que se pagara el 50% al momento de solicitarlas fecha límite de pedido 21 de enero de 2015, el resto al momento de la entrega (25 de febrero de 2015).<br /><br />

6.	A más tardar el 21 de enero 2015 se recibe el nombre del maestro(a) que la mayoría de alumnos a graduar de cada carrera  quieren que lleve por nombre su generación (no es obligatorio).<br /><br />

7.	Enviar tus fotografías académicas dentro de tu estancia en el ITCH II. chavakenovi@hotmail.com ASUNTO: fotos carrera que cursaste (ejemplo: fotos Ingeniería Industrial)<br /><br />

8.	Alumnos interesados en hablar a nombre de sus compañeros de Generación deben de considerar lo siguiente:<br />

•	Hablar  de manera general y no personalizada, utilizar como tiempo máximo 4 minutos. <br />
•	Deberán entregar el mensaje a más tardar el día 21 de enero  2015. (el texto del mensaje será revisado por el Departamento de Comunicación y Difusión, en caso de que sean varios los interesados en hablar, dicho Departamento será quien determine quien lo haga).<br />
•	Mandar du discurso antes de la fecha señalada al correo karla.contreras.gardea@hotmail.com<br /><br />

9.	No existe limite a la Ceremonia de invitados a la Ceremonia, solo se hace entrega 2 pases para que el graduado determine quienes serán sus acompañantes en la Duela del  Gimnasio.<br /><br />

10.	Si requiere más información al respecto puede hacerlo vía telefónica al teléfono 439-50-16, o bien en horario de oficina 9:00 a 15:00 hrs.<br /><br />

No habiendo asunto que tratar, la reunión se dio por terminada a las 17:55 hrs. del día señalado.<br /><br />

Nota 2. Solo el graduado pasa a recibir sus documentos, no debe pasar otra persona o acompañado por (papá, mamá, hijo, etc.).
   

                        </p>
                                             
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Minutas graduación -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Lic. Gustavo Flores</h5>
                                                <div class="rmeta">
                                                    Encargado del Departamento de Comunicación y Difusión</div>
                                                <p>
                                                    El Departamento de Comunicación y Difusión se encuentra localizado en el lado norte del edificio
                                                    "R" de este Instituto.
                                                    <br />
                                                    El acceso es tanto por la Av. de las Industrias como por la Av. Homero. <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-16.<br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 116</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Minutas Graduación/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>

