@{
    ViewBag.Title = "Index";
}

<h2 align="center">Graduación del 16 de Octubre de 2014</h2>

<div class="container">
    <h3 align="center">Reuniones Previas</h3>
    <p class="big grey" align="center">
        Minutas</p>
    <hr />
    <br />
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: large; color: #FF0000;">CERTIFICADOS: Por este medio se avisará la fecha en la que 
    podrán pasar a firmarlos.</p><br /><br />
    <div class="row">
        <div class="col-md-12">
            <!-- Resume starts -->
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <span class="color">Segunda Reunión - 21 de agosto de 2014</span></h3>
                        <p>
                        Texto
                        </p>
                        <br /><br />
                        <h3>
                            <span class="color">Primera Reunión - 11 de junio de 2014</span></h3>
                        <p style="text-align: justify">
                           
La primera reunión de Graduación fue llevada a cabo el 11 de junio de 2014, en la Sala de Audiovisual a las 17:00 horas, se acordó que las siguientes reuniones se llevaran a cabo en el mismo lugar de acuerdo a:<br />

21 de Agosto de 2014 a las 17:00 horas en el Audiovisual del Edificio "B"<br />
17* de	Septiembre de 2014 a las 17:00 horas en el Audiovisual del Edificio "B"<br />
*ENTREGA DE INVITACIONES.<br /><br />

1.	La ceremonia de Graduación se llevara a cabo  el 16 de octubre de 2014 en  el Gimnasio de nuestro Instituto en dos horarios diferentes:<br />
A las 16:00 hrs. las carreras de: Licenciatura en Administración, Licenciatura en Informática e Ingeniería en Gestión Empresarial.<br />
A las 19:00 hrs.  las carreras de: Ingeniería Sistemas Computacionales, Ingeniería Industrial  y Arquitectura.<br /><br />

2.	Se acordó por los alumnos utilizar toga y birrete respetando los colores de tecnológico de  Chihuahua II (negro,  guinda y oro) el costo de dichos implementos será de $300.00 pesos que se pagara un 50% al momento de tomarse medidas (2, 3 y 4 de julio en un horario de 10:00 a 14:00 y  16:00 a 20:00 hrs. en el aula B5 del edificio “B”).<br /><br />

3.	La toma de fotografías para los documentos oficiales se tomaran en el edificio “B” previa cita que podrá realizarse el día 1 de julio en la misma aula donde se tomaran las fotografías y se le indicara el día y la hora que se tomen estas (2,3 y 4 de julio en un horario de 10:00 a 14:00 y 16:00 a 20:00 horas en el aula B5 del edificio “B”).  El costo será de $295.00.<br /><br />

Mujeres. Traer blusa color blanco tipo camisa, con aretes medianos a pequeños, maquillaje suave sin brillo en los labios, cabello suelto con frente y oídos descubiertos, demás detalles al momento de la toma.<br /><br />

Hombres. Camisa clara o blanca saco color claro y corbata, bigote recortado que se pueda apreciar el labio superior, no barba, cabello corto, demás detalles al momento de la toma. (si no tienen saco y corbata ahí se les facilita).<br /><br />

La fotografía de Generación en la Quinta Gameros (Calle cuarta y Paseo Bolívar)en la próxima reunión 21 de agosto de 2014 se les informara el día exacto.<br />

El departamento de Servicios Escolares informa que hasta el 03 de julio es la entrega de calificación de Residencias Profesionales y solo recibirá las fotografías hasta el día 8 de agosto; el departamento da a conocer que deberá pasar a pagar $100.00 en el Depto. de Recursos Financieros por derecho de emisión del Certificado de  estudios y pasar a firmar a Servicios Escolares el mismo, del 22 de septiembre al 3 de octubre del 2014.<br /><br />
4.	El Tecnológico proporcionara 3 invitaciones por graduado, si el alumno a graduar requiere más, estas tendrán un costo de $27.00, que se pagara el 50% al momento de solicitarlas fecha límite de pedido 21 de agosto de 2013, el resto al momento de la entrega (17 de septiembre de 2013).<br /><br />

5.	A más tardar el 09 de agosto de 2013 se recibe el nombre del maestro(a) que la mayoría de alumnos a graduar de cada carrera  quieren que lleve por nombre su generación (no es obligatorio).<br /><br />

6.	Alumnos interesados en hablar a nombre de sus compañeros de Generación deben de considerar lo siguiente:<br /><br />

•	Hablar  de manera general y no personalizada, utilizar como tiempo máximo 4 minutos.<br /> 
•	Deberán entregar el mensaje a más tardar el día 09 de agosto de 2013. (el texto del mensaje será revisado por el Departamento de Comunicación y Difusión, en caso de que sean varios los interesados en hablar, dicho Departamento será quien determine quien lo haga).<br />
•	Pueden mandar su discurso antes de la fecha señalada al correo Karla.contreras.gardea@gmail.com<br /><br />

7.	No existe limite a la Ceremonia de invitados a la Ceremonia, solo se hace entrega 2 pases para que el graduado determine quienes serán sus acompañantes en la Duela del  Gimnasio.<br /><br />

8.	Si requiere más información al respecto puede hacerlo vía telefónica al teléfono 442-50-12, en horario de oficina 8:00 a 15:00 hrs.<br /><br />

No habiendo asunto que tratar, la reunión se dio por terminada a las 17:55 hrs. del día señalado.<br /><br />

Nota 2. Solo el graduado pasa a recibir sus documentos, no debe pasar otra persona o acompañado por (papá, mamá, hijo, etc.).<br />
                        </p>
                                             
                        <br />
                        <hr />
                        <!-- Resume -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Minutas graduación -->
                                <div class="rblock">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>
                                                Contacto</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="rinfo">
                                                <h5>
                                                    Ing. Karla Contreras Gardea</h5>
                                                <div class="rmeta">
                                                    Jefa del Departamento de Comunicación y Difusión</div>
                                                <p>
                                                    El Departamento de Comunicación y Difusión se encuentra localizado en el lado norte del edificio
                                                    "R" de este Instituto.
                                                    <br />
                                                    El acceso es tanto por la Av. de las Industrias como por la Av. Homero. <br />
                                                    Si desea comunicarse por teléfono, marque directamente: (01-614) 4-42-50-16.<br />
                                                    A través de conmutador: (01-614) 4-42-50-00 ext. 116</p>
                                                <!-- Social media icons -->
                                                <div class="social">
                                                    <a href="#"><i class="icon-facebook facebook"></i></a><a href="#"><i class="icon-twitter twitter">
                                                    </i></a><a href="#"><i class="icon-linkedin linkedin"></i></a><a href="#"><i class="icon-google-plus google-plus">
                                                    </i></a><a href="#"><i class="icon-pinterest pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Minutas Graduación/ -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Ends -->
</div>
