@{
    ViewBag.Title = "Ambiental";
}

<div class="container" style="text-align:justify;">
    <h3 align="center">Sistema de Gestión de Calidad</h3>
    <h2 style="color: #800000" align="center">Ambiental</h2>
    <br /><br />
        <div class="bthumb2">
            <img alt="" align="right" src="@Url.Content("~/img/SGC/SGA.jpg")" width="30%" border="2">
        </div>
            <h4>Política de Calidad</h4><br />
        <div align="left" style="width: 500px">
            <p style="text-align: justify">
            El SNEST establece el compromiso de orientar todas sus actividades del Proceso Educativo, hacia el respeto del medio ambiente; cumplir 
            la legislación ambiental aplicable y otros requisitos ambientales que se suscriban, promover en su personal, clientes y partes interesadas 
            la prevención de la contaminación y el uso racional de los recursos, mediante la implementación, operación y mejora continua de un Sistema 
            de Gestión Ambiental, conforme a la Norma ISO 14001:2004/NMX-SAA-14001-IMNC-2004.
            </p>
        </div>    
        <br /><br />     
</div>