@{
    ViewBag.Title = "Calidad";
}
<div class="container" style="text-align:justify;">
    <h3 align="center">Sistema de Gestión de Calidad</h3>
    <h2 style="color: #800000" align="center">Calidad</h2>
    <br /><br />
        <div class="bthumb2">
             <a href="http://www.tecnm.mx/sgc"><img align="right" src="@Url.Content("~/img/SGC/SGC Kl.jpg")" width="30%" border="2"></a>            
        </div>
            <h4>Política de Calidad</h4><br />
        <div align="left" style="width: 500px">
            <p style="text-align: justify">
             El Instituto Tecnológico de Chihuahua II, establece el compromiso de implementar  todos los procesos, orientándolos hacia la 
             satisfacción de sus clientes sustentada en la Calidad del Proceso Educativo, para cumplir con sus requisitos, mediante la eficacia de un 
             Sistema de Gestión de la Calidad y de Mejora Continua, conforme a la Norma ISO 9001:2008/NMX-CC9001-IMNC-2008.
            </p>
        </div>    
        <br /><br />     
</div>

<div class="container" style="text-align:justify;">
            <h4>Manual de Calidad y Procedimientos</h4>
            <h5>(Documentos)</h5><br />
             
               <div align="left" style="width: 500px">
               <ul>               
                <li style="font-size: large; font-weight: bold"><a href="https://www.dropbox.com/sh/hfxtpy8miwn4xdt/AACCoZ1cLW0_8qo6FpqVxZzea?dl=0" style="font-size: large; font-weight: bold;">Manual de Calidad</a></li>
                <li style="font-size: large; font-weight: bold"><a href="https://www.dropbox.com/sh/kbq8winhyqqorz8/AABdpBty6miWFDLk_X-qR8fEa?dl=0" style="font-size: large; font-weight: bold;">Proceso de Administración de Recursos</a></li>
                <li style="font-size: large; font-weight: bold"><a href="https://www.dropbox.com/sh/hkd42hqyi2mqum7/AACGGjJgGxips_jmnkmqQzEEa?dl=0" style="font-size: large; font-weight: bold;">Proceso de Planeación</a></li>
                <li style="font-size: large; font-weight: bold"><a href="https://www.dropbox.com/sh/gui3v9cooz0pxjr/AADLJUw-AVkAesTJPMN7HSRva?dl=0" style="font-size: large; font-weight: bold;">Proceso Académico</a></li>
                <li style="font-size: larger; font-weight: bold"><a href="https://www.dropbox.com/sh/cx6ocouk96li8pd/AAAd7WvBSyRLRMzUyBSHyfa6a?dl=0" style="font-size: large; font-weight: bold;">Proceso de Calidad</a></li>
                <li style="font-size: large; font-weight: bold"><a href="https://www.dropbox.com/sh/50totge62gcl3gg/AAAc8H2xUV72uyv2WR1CVKEDa?dl=0" style="font-size: large; font-weight: bold;">Proceso de Vinculación</a></li>              
             </ul>             
              </div>
</div>