<script type="text/javascript">
    $(document).ready(function () {
        $('#AvisosCategorias').hide();
        $('#AvisosTitulo').hide();
        $('#AvisosSubtitulo').hide();
        $("#Avisos").load("/Home/Avisos", function () {
            $('#TextoCargaAvisos').hide();
            $('#AvisosTitulo').show('3000');
            $('#AvisosSubtitulo').show('4000');
            $('#AvisosCategorias').show('4000');
        });
    });
</script>
<div class="discover">
    <div class="row">
    
        <div class="col-md-12">
            <h3 id="AvisosTitulo">
                Avisos Express
            </h3>
            <div>
                <h6 id="TextoCargaAvisos" class="bold grey">
                    Cargando avisos...
                </h6>
                <h6 id="AvisosSubtitulo" class="bold grey">
                    Convocatorias y Avisos de todas las categorías.
                </h6>
            </div>
            <div id="AvisosCategorias" class="dis-nav button">
                <a href="#" id="Convocatorias">Convocatorias</a>
                <a href="#" id="Aspirantes">Aspirantes</a>
                <a href="#" id="Alumnos">Alumnos</a>
                <a href="#" id="Egresados">Egresados</a>
                <a href="#" id="Docentes">Personal del ITCH II</a>
            </div>

            <div id="Avisos"></div>
        </div>
        
    
</div>