<div class="service-three">
    <div class="row">
        <div class="col-md-4">
            <!-- Service title with tag -->
            <h6 class="bold grey">
                Importante</h6>
            <h3>
                Avisos</h3>
            <p>
                Lo m&aacute;s importante para los usuarios de esta p&aacute;gina.</p>
            <a href="#">Ver todos <i class="icon-double-angle-right"></i></a>
            <hr />
        </div>
        <div class="col-md-8">

        @{
            ITCH2_1.Models.Entities db = new ITCH2_1.Models.Entities();

            var paginas = db
                .Categories.FirstOrDefault(categoria => categoria.category_name == "Avisos")
                .Pages.Where(pagina => pagina.page_visible == true)
                .OrderByDescending(pagina => pagina.page_date)
                .Take(5);
                
            int hrCount = 0;
        }

        @foreach (var aviso in paginas)
        {
            hrCount++;
                        
            <!-- Aviso/ -->
            <div class="service-icon gray">
                <i class="icon-exclamation-sign"></i>
            </div>
            <div class="service-content">
                <h5 style="line-height:1.1;">
                    <a href="@Url.Action("Publicacion", "Contenido", new { id = aviso.page_id })">@aviso.page_title</a></h5>
                    <span>@aviso.page_date.ToShortDateString()</span>
                <p>@aviso.page_description</p>
            </div>
            
            if (hrCount < 4)
            { <hr /> }
            
            <!-- /Aviso -->
        }
            <br />
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
