<script type="text/javascript">
    $(document).ready(function () {

        $('#NoticiasTitulo').hide();

        $("#Noticias").load('/Home/Noticias', function () {
            $('#TextoCargaNoticias').hide();
            $('#NoticiasTitulo').show('4000');
        });
    });
</script>

<div class="service-three">
    <div class="row">

        <div id="NoticiasTitulo" class="col-md-4">
            <h3>
                Noticias
            </h3>
            <h6 class="bold grey">
                Todas las categorías...
            </h6>
            <p>
                Los acontecimientos del ITCH II.
            </p>
            <a href="@Url.Action("Categoria", "Contenido", new { id = 6 })">Ver todos <i class="icon-double-angle-right"></i></a>
            <hr />
        </div>

        <div class="col-md-8">
            <h6 id="TextoCargaNoticias" class="bold">
                Cargado Noticias...
            </h6>
            <div id="Noticias">
            </div>
            <br />
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
