<div class="features-four">
    <h3>
        Servicios Especiales
    </h3>
    <p>
        Servicios adicionales que te ofrece el Instituto Tecnológico de Chihuahua II.
    </p>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="f-block b-greenOficial">
                <a target="_blank" href="http://www.radiotecitchii.com/programas"><i class="icon-music"></i></a>
                <a target="_blank" href="http://www.radiotecitchii.com/programas">
                    <h4>
                        RadioTec
                    </h4>
                </a>
                <p>
                    La mejor música, siempre en linea, programas siempre divertidos.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="f-block b-greenOficial">
                <a target="_blank" href="@ViewBag.Calendario"><i class="icon-calendar"></i></a>
                <a target="_blank" href="@ViewBag.Calendario">
                    <h4>
                        Calendario
                    </h4>
                </a>
                <p>
                    Calendario público con todos los eventos del Tecnol&oacute;gico.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="f-block b-greenOficial">
                <a target="_blank" href="https://www.dropbox.com/sh/8eb1wb07qqb1mw4/AABFGi2Tt59wHYmZq7uFBXhma?dl=0"><i class="icon-cloud-download"></i></a>
                <a target="_blank" href="https://www.dropbox.com/sh/8eb1wb07qqb1mw4/AABFGi2Tt59wHYmZq7uFBXhma?dl=0">
                    <h4>
                        Documentos
                    </h4>
                </a>
                <p>
                    Documentos de intéres para alumnos, maestros y personal administrativo.
                </p>
            </div>
        </div>
    </div>
</div>
