@{
    ViewBag.Title = "Egresados";
}

<div class="container">
    <div class="row lp">
        <div class="col-md-12">
            <div class="center">
                <h2>
                    Egresados</h2>
                <p class="big grey">
                    Bienvenido al Instituto Tecnol&oacute;gico de Chihuahua II.</p>
                <!-- Image -->
                <div class="lp-image">
                    <a href="#">
                        <img src="@Url.Content("~/img/photos/Egresados.jpg")" alt="" class="img-responsive" />
                    </a>
                </div>
                <!-- Button -->
                <div class="button">
                    <a href="#" onclick="window.open('http://eepurl.com/4AlJ9', 'nuevo', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=650, height=750')"><i class="icon-mail-reply"></i> Recibe avisos en tu correo</a> &nbsp; 
                    <a href="https://twitter.com/_itchihuahuaii"><i class="icon-twitter-sign"></i> Siguenos en Twitter</a>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h4>
                        OPCIONES DE TITULACIÓN</h4>
                    <h5>Planes 2009 y 2010</h5>
                    <p>
                    Informe técnico de residencia profesional.<br />
                    Proyecto de innovación tecnológica.<br />
                    Proyecto de investigación.<br />
                    Informe de estancia.<br />
                    Tesis o tesina.<br />

                    </p>
                    <hr />
                     <h4>
                        OPCIONES DE TITULACIÓN</h4>
                    <h5>Plan 2004</h5>
                    <p>
                    I. Tesis profesional.<br />                    
                    III. Proyecto de investigación.<br />
                    VI. Examen por áreas del conocimiento.<br />                    
                    VIII. Escolaridad por promedio.<br />
                    X. Informe de Residencia Profesional.<br />
                    </p>
                    <hr />
                </div>
                <div class="col-md-6 col-sm-6">
                    <h4>
                        OPCIONES DE TITULACIÓN</h4>
                    <h5>Planes anteriores al 2004</h5>
                    <p>
                    I. Tesis profesional.<br />
                    II. Libros de texto o prototipos didácticos.<br />
                    III. Proyecto de investigación.<br />
                    IV. Diseño o rediseño de equipo, aparato o maquinaria.<br />
                    V. Cursos especiales de titulación.<br />
                    VI. Examen por áreas del conocimiento.<br />
                    VII. Memoria de experiencia profesional.<br />
                    VIII. Escolaridad por promedio.<br />
                    IX. Escolaridad por estudios de posgrado.<br />
                    </p>
                    <hr />
                    <h4>
                        Mantente Informado</h4>
                    <h5>de lo que te interesa del Tec II</h5>
                    <p>
                     ...haciendo clic en el botón de arriba "Recibe avisos en tu correo" para que la información llegue a tu
                     correo en cuanto sea generada.
                     También puedes seguirnos en Facebook 
                     y Twitter.<br /></p>
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <!-- Noticias para aspirantes/ -->
    @Html.Partial("_EgresadosNoticias")
    <!-- /Noticias para aspirantes -->
</div>
