@{
    ViewBag.Title = "Aspirantes";
}

<div class="container" style="text-align:justify;">
    <div class="row lp">
        <div class="col-md-12">
            <div class="center">
                <h2>
                    Aspirantes</h2>
                <p class="big grey">
                    Bienvenido al Instituto Tecnol&oacute;gico de Chihuahua II.</p>
                <!-- Image -->
                <div class="lp-image">
                    <a href="#">
                        <img src="img/photos/Aspirantes.jpg" alt="" class="img-responsive" />
                    </a>
                </div>
                <!-- Button -->
                <div class="button">
                    <a href="#" onclick="window.open('http://eepurl.com/4AmWv', 'nuevo', 'directories=no, location=no, menubar=no, scrollbars=yes, statusbar=no, tittlebar=no, width=650, height=750')"><i class="icon-mail-reply"></i> Recibe avisos en tu correo</a> &nbsp; 
                    <a href="https://twitter.com/_itchihuahuaii"><i class="icon-twitter-sign"></i> Siguenos en Twitter</a>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h4>
                        ¿Est&aacute;s a punto de entrar a la universidad y no sabes qu&eacute; carrera estudiar?
                    </h4>
                    <p>
                        ¡El ITCH II, tiene excelentes oportunidades para ti!

                    </p>
                    <br />
                    <p>
                        Adem&aacute;s de ofrecerte excelentes planes de estudios en sus carreras CERTIFICADAS, te ofrece otros beneficios:
                        Por ejemplo puedes crear tu empresa y hacerla crecer, gracias a la Incubadora de
                        Empresas la cual te brinda toda la asesoría profesional que necesitas para emprender tu negocio.
                        También puedes aprovechar las diferentes certificaciones gratuitas que la Institución pacta periódicamente con las empresas pertinentes.
                    </p><br />
                    
                    
                    
                </div>
                <div class="col-md-6 col-sm-6">
                    <h4>
                        Fichas, Exámenes y Resultados.
                    </h4>
                    <br />
                    
                    <p>FICHAS: Normalmente se entregan en mayo para el semestre agosto-diciembre y en noviembre para el semestre 
                        enero-junio.<br />
                        Los exámenes de admisión (CENEVAL) se realizan al finalizar la entrega de fichas. Unos días después 
                        se entregan los resultados.<br />
                    </p><br />
                    <p>INFÓRMATE DE LAS FECHAS EXACTAS haciendo clic en el botón de arriba "Recibe avisos en tu correo" para que la información llegue a tu
                     correo en cuanto sea generada.
                     También puesdes seguirnos en Facebook 
                     y Twitter.<br />
                    
                    </p>                                      
                    <hr />
                    
                </div>
                <div class="col-md-6 col-sm-6">
                    <h4>
                        Carreras</h4>
                   <p>
                        En el menú ubicado en la parte superior de esta página, selecciona CARRERAS para que tengas una idea de lo que te ofrece cada 
                        una de nuestras carreras.
                    </p><br />
                    <hr />
                    <h4>
                        Acreditaciones</h4>
                    <p>
                        Todas nuestras carreras están acreditadas ante CACEI.
                        Esto significa que cumplen con parámetros de calidad y criterios, lo que no sólo implica que tu educación será válida 
                        para las empresas que deseen contratarte, sino que tienes garantía de que tu carrera no será declarada invalidada oficialmente </p>
                    <hr />
                </div>

            </div>
        </div>
    </div>

    <hr />

    <!-- Noticias para aspirantes/ -->
    @Html.Partial("_AspirantesNoticias")
    <!-- /Noticias para aspirantes -->
</div>
