<footer>
  <div class="container">
    <div class="row">

      <div class="widgets">
        <div class="col-md-3">
          <div class="fwidget">
              <h6>Otros enlaces</h6>
              <ul>
                <li><a href="#">Graduaci&oacute;n</a></li>
                <li><a href="#">Egresados</a></li>
                <li><a href="#">Foro virtual Direcci&oacute;n de docencia</a></li>
                <li><a href="#">Revista ra'itz&aacute;</a></li>
                <li><a href="#">Canlendario anual</a></li>
                <li><a href="#">Canlendario digital</a></li>
              </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="fwidget">
            <h6>Sistema de gesti&oacute;n</h6>
              <ul>
                <li><a href="#">Equidad de g&eacute;nero</a></li>
                <li><a href="#">Ambiental</a></li>
                <li><a href="#">Calidad</a></li>
              </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="fwidget">
            <h6>Enlaces de interes</h6>
              <ul>
                <li><a href="#">Secretar&iacute;a de Educaci&oacute;n Publica</a></li>
                <li><a href="#">DGEST</a></li>
              </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="fwidget">
            <h6>Tecnolog&iacute;a</h6>
            <ul>
              <li><a href="https://github.com/AHTA/ITCH2">¡Colabora con el ITCH2!</a></li>
              <li><a href="https://github.com/AHTA/ChiwasEngine">Chiwas Engine</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    
    <div class="row">
        <div class="col-md-12">
            <hr />
            <ul class="social-bts">
                <li><a href="https://www.facebook.com/ITChihuahuaII" target="_blank" class="facebook">Facebook</a></li>
                <li><a href="https://twitter.com/_itchihuahuaii" target="_blank" class="twitter">Twitter</a></li>
            </ul>
        </div>
    </div>

    <div class="row">        
        <div class="col-md-4"><hr /></div>
        <div class="col-md-4 text-center"><img src="@Url.Content("~/img/logos/logoSEP_hoz.png")"  width="220" height="60"></div>
        <div class="col-md-4"><hr /></div>
    </div>

    <div class="row">
    <div class="col-md-12">      
          <div class="copy text-center" style="border-top: none;">
            <h6>Av. de las Industrias #11101, Complejo Industrial Chihuahua </h6>
            <p>Copyright &copy; Instituto Tecnol&oacute;gico de Chihuahua II - 
                <a href="@Url.Action("Index", "Home")">Inicio</a> | 
                <a href="@Url.Action("Index", "AcercaDe")">Acerca&nbsp;de</a> | 
                <a href="@Url.Action("Index", "Contacto")">Contacto</a>
            </p>
          </div>
      </div>
    </div>

  <div class="clearfix"></div>
  </div>
</footer>
