<div class="social-links">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="big">
                    <span>Siguenos en</span> 
                    <a href="https://www.facebook.com/ITChihuahuaII"><i class="icon-facebook"></i>Facebook</a> 
                    <a href="https://twitter.com/_itchihuahuaii"><i class="icon-twitter"></i>Twitter</a> 
                </p>
            </div>
        </div>
    </div>
</div>
