@model ITCH2_1.Models.Pages
@{
    ViewBag.Title = Model.page_title;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#SocialMediaIcons').hide();
        $("#Publicacion").load("/Contenido/AjaxPublicacion/@Model.page_id", function () {
            $('#SocialMediaIcons').show('4000');
            $("#NavigationButtons").load("/Contenido/AjaxNavigationButtons/@Model.page_id");
            $("#Categorias").load("/Contenido/AjaxCategorias");
            $("#UltimasPublicaciones").load("/Contenido/AjaxUltimasPublicaciones");
        });
    });
</script>

<div class="container">

    <div id="Publicacion">
        <h2>Publicaci&oacute;n</h2>
        <p class="big grey">Cargando contenido...</p>

        <div class="blog">
            <div class="row">
                <div class="preloader"></div>
            </div>
        </div>
    </div>

    <div class="blog">
        <div class="row">
            <div class="col-md-12">
                <div id="SocialMediaIcons" class="post-foot well">
                    <!-- Social media icons -->
                    <h6>
                        Comparte esta noticia:
                    </h6>
                    <!-- AddThis Plugin/ -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5318c5051c2ae584"></script>
                    <!-- /AddThis Plugin -->
                </div>
                <div class="clearfix">
                </div>
                <div id="NavigationButtons" class="navigation button"></div>
            </div>
        </div>
    </div>

    <div class="border"></div>

    <div class="prod">
        <div class="row">
            <div id="Categorias" class="col-md-4">
                <h5>Cargando categor&iacute;as...</h5>
                <div class="preloader"></div>
            </div>
            <div id="UltimasPublicaciones" class="col-md-8">
                <h5>Cargando &uacute;ltimas publicaciones...</h5>
                <div class="preloader"></div>
            </div>
        </div>
    </div>
</div>
